.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: -1px;
    border-width: 0 1px 0 0 !important;
}

.continuous {
    margin-bottom: -1px;
    border-bottom-width: 1px !important;
}