#app-cs-immediate-update-request-confirm {
    .row{
        .continuous_kind{
            margin-top: 5px;
        }
        .radio-group{
            margin-left: 15px;
        }
    }
    #request_message{
        padding: 5px 5px 10px 10px;
        font-weight: bold;
        color: red;
        font-size: 1.5em;
    }
}