#app-cs-immediate-update-request-confirm {
    .row{
        .continuous_kind{
            margin-top: 5px;
        }
        label[for=stop], label[for=continue] {
            padding: 0px 5px;
        }
    }
    #request_message{
        padding: 5px 5px 40px 10px;
        font-weight: bold;
    }
}