<div class="KBA-table-wrapper">
  <ng-container *ngIf="thList">
    <div class="KBA-normal-table-wrapper">
      <table
        appKbaChangeTableHeight
        [collapsed]="collapsed"
        class="KBA-table table table-bordered"
      >
        <thead class="KBA-table-thead" [ngClass]="thClass">
          <tr class="KBA-table-flex-cell">
            <th *ngIf="selectable" class="KBA-index-th fixed th-check">
              <input
                type="checkbox"
                class="KBA-input-checkbox"
                [disabled]="checkAllDisabled"
                id="check-icon-all"
                (click)="toggleCheckAll()"
                [checked]="checkAll"
              />
              <label class="KBA-input-checkbox__label" for="check-icon-all">
                <i class="fa"></i>
              </label>
            </th>
            <ng-container *ngIf="!customTableThContent">
              <ng-container *ngFor="let title of thList">
                <th
                  *ngIf="title.displayable"
                  class="th-{{ title.shortName }} KBA-index-th"
                  [ngClass]="{ 'disable-sort': !title.sortable }"
                  appKbaSortingLabel
                  [(sortingParams)]="sortingParams"
                  [labelName]="title.name"
                  [sortableThList]="sortableThList"
                  (sort)="onClickSortingLabel($event)"
                >
                  <span>{{ title.label }}</span>
                </th>
              </ng-container>
            </ng-container>
            <ng-container
              *ngTemplateOutlet="customTableThContent"
            ></ng-container>
            <!-- ボタンタイトルのデフォルト要素 -->
            <ng-container *ngIf="!customTableThBtnContent">
              <th *ngIf="detailedly" class="fixed">
                {{ labels.header_detail }}
              </th>
              <th *ngIf="updatable" class="fixed">{{ labels.header_edit }}</th>
              <th *ngIf="deletable" class="fixed">
                {{ labels.header_delete }}
              </th>
            </ng-container>
            <!-- ボタンタイトルのカスタム要素 -->
            <ng-container
              *ngTemplateOutlet="customTableThBtnContent"
            ></ng-container>
          </tr>
        </thead>
        <tbody
          (appKbaScrollLoad)="onScroll($event)"
          (scrolled)="onScrolled($event)"
          [lists]="lists"
          [params]="pageParams"
          [ngClass]="{
            'empty-loading':
              this.lists.originList.length === 0 && this.isFetching
          }"
          class="KBA-table-tbody"
        >
          <tr
            *ngFor="let data of lists.visibleList; let i = index"
            class="KBA-table-flex-cell"
          >
            <td
              *ngIf="selectable"
              [ngClass]="{ disable: checkBoxHidden(data) }"
              class="kba-sm-link fixed d-flex justify-content-center td-check"
            >
              <input
                (appKbaTableCheckbox)="onChange($event)"
                (toggleClick)="onCheckSelect($event)"
                [selectedList]="selectedList"
                [checked]="checkedItems[checkId(data)]"
                id="check-icon-{{ i }}"
                value="{{ checkId(data) }}"
                type="checkbox"
                class="KBA-input-checkbox"
              />
              <label
                class="KBA-input-checkbox__label"
                [ngClass]="{ hidden: checkBoxHidden(data) }"
                for="check-icon-{{ i }}"
              >
                <i class="fa"></i>
              </label>
            </td>
            <!-- データ行のデフォルト要素 -->
            <ng-container *ngIf="!customTableRowContent">
              <ng-container *ngFor="let title of thList">
                <td
                  *ngIf="title.displayable"
                  class="td-{{
                    title.shortName
                  }} KBA-index-td d-flex align-items-center"
                >
                  <p>{{ data[title.dataKey || title.name] }}</p>
                </td>
              </ng-container>
            </ng-container>
            <!-- データ行のカスタム要素 -->
            <ng-container
              *ngTemplateOutlet="
                customTableRowContent;
                context: { data: data, title: title, idx: i }
              "
            ></ng-container>
            <!-- ボタンのデフォルト要素 -->
            <ng-container *ngIf="!customTableBtnContent">
              <td
                *ngIf="detailedly"
                class="KBA-index-td text-center KBA-table__small kba-sm-link fixed d-flex align-items-center justify-content-center"
                (click)="onClickDetail(data)"
              >
                <span class="kba-icon kba-icon-detail"></span>
              </td>
              <td
                *ngIf="updatable"
                class="KBA-index-td KBA-table__small kba-sm-link text-center fixed d-flex align-items-center justify-content-center"
                [ngClass]="{ disable: editIconHidden(data) }"
                (click)="onClickEdit(data)"
              >
                <span
                  ><i
                    *ngIf="!editIconHidden(data)"
                    class="kba-icon kba-icon-edit"
                  ></i
                ></span>
              </td>
              <td
                *ngIf="deletable"
                class="KBA-index-td KBA-table__small kba-sm-link text-center fixed d-flex align-items-center justify-content-center"
                [ngClass]="{ disable: deleteIconHidden(data) }"
                (click)="onClickDelete(data)"
              >
                <span
                  ><i
                    *ngIf="!deleteIconHidden(data)"
                    class="kba-icon kba-icon-dustbox"
                  ></i
                ></span>
              </td>
            </ng-container>
            <!-- ボタンのカスタム要素 -->
            <ng-container
              *ngTemplateOutlet="
                customTableBtnContent;
                context: { data: data, visibleBtn: visibleBtn }
              "
            ></ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="fixedThList && scrollableThList">
    <div class="KBA-split-table-wrapper">
      <div class="table-wrapper fixed">
        <table class="KBA-table table table-bordered"
          appKbaChangeTableHeight
          [collapsed]="collapsed">
          <thead #fixedHeader
            class="KBA-table-thead"
            [ngClass]="thClass">
            <tr>
              <th *ngIf="selectable" class="KBA-index-th th-check">
                <input
                  type="checkbox"
                  class="KBA-input-checkbox"
                  [disabled]="checkAllDisabled"
                  (click)="toggleCheckAll()"
                  id="check-icon-all">
                <label class="KBA-input-checkbox__label" for="check-icon-all">
                  <i class="fa"></i>1
                </label>
              </th>
              <ng-container *ngIf="!customFixedTableThContent">
                <ng-container *ngFor="let title of fixedThList">
                  <th
                    *ngIf="title.displayable"
                    class="th-{{title.shortName}} KBA-index-th"
                    [ngClass]="{'disable-sort': !title.sortable}"
                    appKbaSortingLabel
                    [(sortingParams)]="sortingParams"
                    [labelName]="title.name"
                    [sortableThList]="sortableThList"
                    (sort)="onClickSortingLabel($event)">
                    {{title.label}}
                  </th>
                </ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="customFixedTableThContent"></ng-container>
              <!-- ボタンタイトルのデフォルト要素 -->
              <th *ngIf="detailedly" class="fixed">{{labels.header_detail}}</th>
              <th *ngIf="updatable" class="fixed">{{labels.header_edit}}</th>
              <th *ngIf="deletable" class="fixed">{{labels.header_delete}}</th>
            </tr>
          </thead>
          <tbody class="KBA-table-tbody" #fixedBody #fixedScrollArea
            (appKbaScrollLoad)="onScroll($event)"
            [lists]="lists"
            [params]="pageParams"
            [ngClass]="{
              'empty-loading': this.lists.originList.length === 0 && this.isFetching,
              'before-init': !isCarTableReady
            }">
            <tr
              *ngFor="let data of lists.visibleList; let i = index"
              [attr.data-index]="i">
              <td *ngIf="selectable"
                [ngClass]="{'disable': checkBoxHidden(data)}"
                class="text-center td-check kba-sm-link">
                <input
                  (appKbaTableCheckbox)="onChange($event)"
                  (toggleClick)="onCheckSelect($event)"
                  [selectedList]="selectedList"
                  [checked]="checkedItems[checkId(data)]"
                  id="check-icon-{{i}}"
                  value="{{checkId(data)}}"
                  type="checkbox"
                  class="KBA-input-checkbox">
                <label class="KBA-input-checkbox__label" [ngClass]="{'hidden': checkBoxHidden(data)}" for="check-icon-{{i}}">
                  <i class="fa"></i>
                </label>
              </td>
              <!-- データ行のデフォルト要素 -->
              <ng-container *ngIf="!customFixedTableRowContent">
                <ng-container *ngFor="let title of fixedThList">
                  <td *ngIf="title.displayable" class="td-{{title.shortName}} KBA-index-td">{{data[title.dataKey || title.name]}}</td>
                </ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="customFixedTableRowContent; context: {data: data, title: title, idx: i}"></ng-container>
              <td *ngIf="detailedly" class="KBA-index-td text-center KBA-table__small kba-sm-link fixed" (click)="onClickDetail(data)">
                <span class="kba-icon kba-icon-detail"></span>
              </td>
              <td *ngIf="updatable" class="KBA-index-td KBA-table__small kba-sm-link text-center fixed" [ngClass]="{'disable': editIconHidden(data)}" (click)="onClickEdit(data)">
                <span><i *ngIf="!editIconHidden(data)" class="kba-icon kba-icon-edit"></i></span>
              </td>
              <td *ngIf="deletable" class="KBA-index-td KBA-table__small kba-sm-link text-center fixed" [ngClass]="{'disable': deleteIconHidden(data)}" (click)="onClickDelete(data)">
                <span><i *ngIf="!deleteIconHidden(data)" class="kba-icon kba-icon-dustbox"></i></span>
              </td>

              <td *ngIf="multiLineThList" class="hidden-columns">
                <ul class="hidden-columns-container">
                  <li *ngFor="let title of multiLineThList">
                    <ul>
                      <li *ngFor="let d of formatMultiLineData(data[title.dataKey || title.name])" [ngStyle]="hiddenItemStyles">
                        {{ d }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-wrapper scrollable" #scrollableTableWrapper >
        <table class="KBA-table table"
          appKbaChangeTableHeight
          [collapsed]="collapsed">
          <thead #scrollableHeader
            class="KBA-table-thead"
            [ngClass]="thClass">
            <tr>
              <ng-container *ngIf="!customTableThContent">
                <ng-container *ngFor="let title of scrollableThList">
                  <th
                    *ngIf="title.displayable"
                    class="th-{{title.shortName}} KBA-index-th"
                    [ngClass]="{'disable-sort': !title.sortable}"
                    appKbaSortingLabel
                    [(sortingParams)]="sortingParams"
                    [labelName]="title.name"
                    [sortableThList]="sortableThList"
                    (sort)="onClickSortingLabel($event)">
                    {{title.label}}
                  </th>
                </ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="customTableThContent"></ng-container>
            </tr>
          </thead>
          <tbody class="KBA-table-tbody" #scrollableBody #scrollableScrollArea
            [ngClass]="{
              'empty-loading': this.lists.originList.length === 0 && this.isFetching,
              'before-init': !isCarTableReady
            }"
            appKbaChangeTableHeight
            [collapsed]="collapsed">
            <tr *ngFor="let data of lists.visibleList; let i = index">
              <ng-container *ngIf="!customTableRowContent">
                <ng-container *ngFor="let title of scrollableThList">
                  <td *ngIf="title.displayable" class="td-{{title.shortName}} KBA-index-td">
                    <span>{{data[title.dataKey || title.name]}}</span>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="customTableRowContent; context: {data: data, title: title, idx: i}"></ng-container>

              <td *ngIf="multiLineThList" class="hidden-columns">
                <ul class="hidden-columns-container">
                  <li *ngFor="let title of multiLineThList">
                    <ul>
                      <li *ngFor="let d of formatMultiLineData(data[title.dataKey || title.name])" [ngStyle]="hiddenItemStyles">
                        {{ d }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <div *ngIf="lists.originList.length === 0 && !isFetching">
    <p
      class="empty-list-message"
      appKbaChangeTableHeight
      [collapsed]="collapsed"
    >
      {{ emptyListMessageStr || labels.empty_list_message }}
    </p>
  </div>
  <div class="loading-wrapper" [hidden]="isCarTableReady && !isFetching">
    <i class="loading-indicator"></i>
  </div>
</div>
