@import "../../../../../../assets/styles/opa/_variable.scss";

.select-modal-content {
  margin: -15px;
}

.header,
.body {
  padding: 15px;
}

.header {
  background-color: $kba-sub-color;
}

.body {
  background-color: #fff;
}

.search-block {
  display: flex;
  justify-content: center;

  &.search-conditions {
    justify-content: flex-start;
  }

  .search {
    min-width: 200px;
    margin-top: 40px;
  }
}

.content-wrapper {
  &:not(.no-content) {
    margin-top: 20px;
    border: 1px solid #ddd;
  }
}
