@import "../../../../assets/styles/variable";

.row-authority-select-buttons {
  margin: 15px 0;

  .btn {
    &.select {
      min-width: 100px;
    }
  }
}

.row-selected-authorities {
  .selected-authorities-default {
    padding: 23px 15px 0;
    margin: 0 -15px;
    border-top: 1px solid #ddd;
  }

  .KBA-list-select-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    border: 1px solid $kba-darkgray-color;
    border-radius: 16px;

    span,
    button {
      display: inline-block;
    }

    span {
      padding-right: 8px;
    }

    button {
      padding: 0;
      vertical-align: top;
      background-color: transparent;
      border: 0;
    }

    .kba-icon-close {
      height: 100%;
      color: $fontRed;
      vertical-align: middle;
    }
  }
}

.modal-dialog {
  max-width: 900px;
}
