@import "../../../../../assets/styles/opa/_variable.scss";

.content-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}

.setting-content {
  width: 100%;
  margin-top: 20px;

  .tabset {
    display: flex;
  }
}

.setting-list-header {
  display: flex;

  .setting-menu-title {
    width: 15%;
    padding-top: 15px;
  }

  .nav-external-app-kind {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-left: 20px;
    flex-grow: 1;
  }
}

.setting-list {
  td {
    height: 58px;
    position: relative;

    &.td-dfm,
    &.td-cfm {
      padding: 0 !important;
      margin-top: -1px;
    }
  }
}

.table-container {
  width: 100%;
  max-height: 50vh;
  overflow: scroll;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.setting-list-content {
  display: flex;
}

.KBA-pills {
  width: 15%;

  > .nav-item {
    width: auto;
    min-width: 110px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid $kba-nav-link-color;
    border-left: 0;
    border-radius: 3px;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-left: 1px solid $kba-nav-link-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .nav-link {
      color: $kba-nav-link-color;
      border: 0;
      border-radius: 0;

      &:not(.active) {
        &:hover {
          background-color: $kba-sub-color;
        }
      }

      &.active {
        color: #fff;
        background-color: $kba-nav-link-color;
      }
    }
  }
}

.KBA-table {
  display: table;
}

.KBA-table-thead {
  display: table-header-group;
}

.tablist {
  margin-right: 20px;
  text-align: center;
}
