<section id="KBA-custom-car-attribute-index" *ngIf="labels && resource">
  <div class="container-fluid">
    <h2 class="KBA-contact-index__title KBA-page-title">{{ labels.title }}</h2>
    <div class="KBA-content">
      <app-kba-accordion
        *ngIf="resource.block_id"
        [collapsed]="collapsed"
        [useCustomHeader]="false"
        [title]="labels.search_condition"
        [isLoading]="isLoading"
        [labels]="labels"
        (onChangeState)="changePanelState($event)"
      >
        <div data-kba-accordion-body>
          <div class="container KBA-search">
            <div class="row">
              <app-kba-selected
                class="col-sm-3"
                [kbaName]="'block_id'"
                [kbaParams]="params"
                [kbaResource]="resource"
              >
              </app-kba-selected>
            </div>
          </div>
          <div class="KBA-panel-footer">
            <button
              (click)="onClickSearch()"
              type="button"
              class="btn btn-primary search"
            >
              {{ labels.search }}
            </button>
          </div>
        </div>
      </app-kba-accordion>

      <div class="KBA-table-options" [hidden]="count <= 0">
        <app-kba-pagination
          [count]="count"
          [params]="pageParams"
          [labels]="labels"
          [element]="pageCountEl"
          (changeState)="onPaginationChange()"
        ></app-kba-pagination>
      </div>

      <app-kba-table
        [customTableThContent]="customTableThContent"
        [customTableRowContent]="customTableRowContent"
        [lists]="lists"
        [pageParams]="pageParams"
        [sortingParams]="sortingParams"
        [thList]="thList"
        [sortableThList]="sortableThList"
        [labels]="labels"
        [collapsed]="collapsed"
        [updatable]="updatable"
        [deletable]="deletable"
        [detailedly]="true"
        [isFetching]="isFetching"
        (detail)="onClickDetail($event)"
        (delete)="onClickDelete($event)"
        (edit)="onClickEdit($event)"
      >
      </app-kba-table>
    </div>
  </div>

  <ng-template #customTableThContent>
    <ng-container *ngFor="let th of thList">
      <th
        *ngIf="th.displayable"
        class="KBA-index-th th-{{ th.shortName }}"
        appKbaSortingLabel
        [(sortingParams)]="sortingParams"
        [labelName]="th.sortKey"
        [sortableThList]="sortableThList"
        (sort)="onChangeSort($event)"
      >
        <span>{{ th.label }}</span>
      </th>
    </ng-container>
  </ng-template>

  <ng-template #customTableRowContent let-data="data">
    <ng-container *ngFor="let title of thList">
      <td
        *ngIf="title.displayable"
        class="td-{{ title.shortName }} KBA-index-td d-flex align-items-center"
      >
        <span>{{ data | at: title.dataKey }}</span>
      </td>
    </ng-container>
  </ng-template>

  <ng-template #detailDeleteModalContent>
    <app-custom-car-attribute-detail-modal
      [desc]="detailDeleteHeaders"
      [val]="val.custom_car_attribute"
      [labels]="labels"
      [isDeleteModal]="isDeleteModal"
      [useSameName]="isDeleteModal"
    ></app-custom-car-attribute-detail-modal>
  </ng-template>
</section>
<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
