<section id="app-cs-detail" *ngIf="labels && resource">
    <div class="container-fluid">
        <h2 class="app-page-title">{{ labels.title }}</h2>
        <div class="app-content">
            <!-- 一覧画面 -->
            <ng-container>
                <div class="container">
                    <label
                        >{{ labels.maker_model_type_rev_serial }} {{ model }}-
                        {{ typeRev }}-{{ serial }}
                    </label>
                    <!-- TODO: -->
                    <div class="app-control">
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="onClickAdd()"
                        >
                            <span>追加</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="onClickDiscardAll()"
                        >
                            <span>編集内容破棄</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-send">
                            <span>設定取得要求</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="onClickUpdateRequest()"
                        >
                            <span>設定更新要求</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="onClickImmediateUpdateRequest()"
                        >
                            <span>設定即時更新要求</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="openGetRequestDialog()"
                        >
                            <span>カスタマイズ設定取得要求</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-send"
                            (click)="openInputDataCancelConfirmDialog()"
                        >
                            <span>カスタマイズ設定入力内容破棄確認</span>
                        </button>
                    </div>
                    <!-- 一覧テーブル上部検索オプション欄 -->
                    <div class="app-table-options" [hidden]="count <= 0">
                        <app-pagination
                            [count]="count"
                            [params]="pageParams"
                            [labels]="labels"
                            [element]="pageCountEl"
                            (changeState)="onPaginationChange()"
                        >
                        </app-pagination>
                    </div>

                    <!-- 一覧テーブル -->
                    <div class="app-table-wrapper">
                        <app-common-table
                            [checkBoxHiddenFunction]="checkBoxHiddenFunction"
                            [checkBoxDefaultHiddenFunction]="
                                checkBoxDefaultHiddenFunction
                            "
                            [labels]="labels"
                            [collapsed]="collapsed"
                            [lists]="lists"
                            [pageParams]="pageParams"
                            [thList]="thList"
                            [(sortingParams)]="sortingParams"
                            [sortableThList]="sortableThList"
                            [selectable]="selectable"
                            [isFetching]="isFetching"
                            [checkIdName]="checkIdName"
                            [checkedItems]="checkedItems"
                            [checkAll]="checkAll"
                            (sort)="onChangeSort($event)"
                        >
                        </app-common-table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-template #csNewModalContent>
        <app-cs-new [carId]="carId" [resources]="data.resource"></app-cs-new>
    </ng-template>
    <ng-template #csEditModalContent>
        <app-cs-edit
            [carId]="carId"
            [inputParams]="inputParams"
            [resources]="data.resource"
        ></app-cs-edit>
    </ng-template>
    <ng-template #csUpdateRequestConfirmModalContent>
        <app-cs-update-request-confirm [labels]="labels" [tableData]="selectedData" [initThLst]="thList"></app-cs-update-request-confirm>
    </ng-template>
    <ng-template #csImmediateUpdateRequestConfirmModalContent>
        <app-cs-immediate-update-request-confirm [labels]="labels" [tableData]="selectedData" [initThLst]="thList"></app-cs-immediate-update-request-confirm>
    </ng-template>
    <ng-template #csRequestResendConfirmModalContent>
        <app-cs-request-resend-confirm [labels]="labels" [tableData]="selectedData" [initThLst]="thList"></app-cs-request-resend-confirm>
    </ng-template>
    <ng-template #csGetRequestModalContent>
        <app-cs-get-request [labels]="labels"></app-cs-get-request>
    </ng-template>
    <ng-template #csInputDataCancelConfirmModalContent>
        <app-cs-input-data-cancel-confirm [labels]="labels"></app-cs-input-data-cancel-confirm>
    </ng-template>
</section>
<app-sidemenu [isLoading]="isLoading"></app-sidemenu>
