<section id="app-cs-detail" *ngIf="labels && resource">
    <div class="container-fluid">
        <h2 class="app-page-title">{{ labels.title }}</h2>
        <div class="app-content">
            <!-- 一覧画面 -->
            <ng-container>
                <div class="container">
                    <label
                        >{{ labels.model_type_rev_serial }}
                        {{ model }}
                        -
                        {{ typeRev }}
                        -
                        {{ serial }}
                    </label>
                    <div class="app-control">
                        <button
                            #add="ngbTooltip"
                            type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1"
                            placement="top"
                            triggers="manual"
                            [ngbTooltip]="labels.addition"
                            (click)="onClickAdd()"
                            (mouseover)="add.open()"
                            (mouseleave)="add.close()"
                        >
                            <span>
                                <i class="app-icon app-icon-add"></i>
                            </span>
                        </button>
                        <button
                            #discardAll="ngbTooltip"
                            type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1"
                            placement="top"
                            triggers="manual"
                            [ngbTooltip]="labels.discard_all_edits"
                            [disabled]="disabled"
                            (click)="onClickDiscardAll()"
                            (mouseover)="discardAll.open()"
                            (mouseleave)="discardAll.close()"
                        >
                            <span>
                                <i class="app-icon app-icon-discard"></i>
                            </span>
                        </button>
                        <button
                            #getRequest="ngbTooltip"
                            type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1"
                            placement="top"
                            triggers="manual"
                            [ngbTooltip]="labels.setting_acquisition_request"
                            (click)="onClickGetRequest()"
                            (mouseover)="getRequest.open()"
                            (mouseleave)="getRequest.close()"
                        >
                            <span>
                                <i
                                    class="app-icon app-icon-acquisition-request"
                                >
                                </i>
                            </span>
                        </button>
                        <button
                            #updateRequest="ngbTooltip"
                            type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1"
                            placement="top"
                            triggers="manual"
                            [ngbTooltip]="labels.setting_update_request"
                            [disabled]="disabled"
                            (click)="onClickUpdateRequest()"
                            (mouseover)="updateRequest.open()"
                            (mouseleave)="updateRequest.close()"
                        >
                            <span>
                                <i class="app-icon app-icon-update-request"></i>
                            </span>
                        </button>
                        <button
                            #immediateUpdateRequest="ngbTooltip"
                            type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1"
                            placement="top"
                            triggers="manual"
                            [ngbTooltip]="
                                labels.immediate_setting_update_request
                            "
                            [disabled]="disabled"
                            (click)="onClickImmediateUpdateRequest()"
                            (mouseover)="immediateUpdateRequest.open()"
                            (mouseleave)="immediateUpdateRequest.close()"
                        >
                            <span>
                                <i class="app-icon app-icon-update-request"></i>
                            </span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary ml-2"
                            (click)="onClickExpectedTrafficConfirm()"
                        >
                            <span>
                                {{ labels.communication_charge_confirmation }}
                            </span>
                        </button>
                    </div>
                    <div class="app-control"></div>
                    <!-- 一覧テーブル上部検索オプション欄 -->
                    <div class="app-table-options" [hidden]="count <= 0">
                        <app-pagination
                            [count]="count"
                            [params]="pageParams"
                            [labels]="labels"
                            [element]="pageCountEl"
                            (changeState)="onPaginationChange()"
                        >
                        </app-pagination>
                    </div>

                    <!-- 一覧テーブル -->
                    <div class="app-table-wrapper">
                        <app-common-table
                            [checkBoxHiddenFunction]="checkBoxHiddenFunction"
                            [checkBoxDefaultHiddenFunction]="
                                checkBoxDefaultHiddenFunction
                            "
                            [customFixedTableThContent]="
                                customFixedTableThContent
                            "
                            [customFixedTableRowContent]="
                                customFixedTableRowContent
                            "
                            [customTableThContent]="customTableThContent"
                            [customTableRowContent]="customTableRowContent"
                            [labels]="labels"
                            [collapsed]="collapsed"
                            [lists]="lists"
                            [pageParams]="pageParams"
                            [fixedThList]="fixedThList"
                            [scrollableThList]="scrollableThList"
                            [(sortingParams)]="sortingParams"
                            [sortableThList]="sortableThList"
                            [selectable]="selectable"
                            [isFetching]="isFetching"
                            [checkIdName]="checkIdName"
                            [checkedItems]="checkedItems"
                            [checkAll]="checkAll"
                            (sort)="onChangeSort($event)"
                        >
                            <ng-template #customFixedTableThContent>
                                <th class="fixed">
                                    {{ labels.edit_header_label }}
                                </th>
                                <th class="fixed">
                                    {{ labels.edit_status_header_label }}
                                </th>
                                <ng-container *ngFor="let title of fixedThList">
                                    <th
                                        *ngIf="title.displayable"
                                        class="th-{{
                                            title.shortName
                                        }} app-index-th"
                                        [ngClass]="{
                                            'disable-sort': !title.sortable
                                        }"
                                        appSortingLabel
                                        [(sortingParams)]="sortingParams"
                                        [labelName]="title.name"
                                        [sortableThList]="sortableThList"
                                        (sort)="onChangeSort($event)"
                                    >
                                        {{ title.label }}
                                    </th>
                                </ng-container>
                            </ng-template>
                            <ng-template
                                #customFixedTableRowContent
                                let-data="data"
                                let-tblFunctions="tblFunctions"
                            >
                                <td
                                    class="app-index-td app-table__small app-sm-link text-center fixed"
                                    [style]="getTblRowHeight(data)"
                                    (click)="onClickEdit(data)"
                                >
                                    <span>
                                        <i class="app-icon app-icon-edit"> </i>
                                    </span>
                                </td>
                                <td
                                    class="app-index-td app-table__small text-center fixed"
                                >
                                    <span>
                                        {{ data["edit_status_name"] }}
                                    </span>
                                </td>
                                <ng-container *ngFor="let title of fixedThList">
                                    <td
                                        *ngIf="
                                            tblFunctions.isDisplayDataRow(
                                                title,
                                                data
                                            )
                                        "
                                        class="td-{{
                                            title.shortName
                                        }} app-index-td"
                                    >
                                        <span>{{
                                            data[title.dataKey || title.name]
                                        }}</span>
                                    </td>
                                </ng-container>
                            </ng-template>
                            <ng-template #customTableThContent>
                                <ng-container
                                    *ngFor="let title of scrollableThList"
                                >
                                    <th
                                        *ngIf="title.displayable"
                                        class="th-{{
                                            title.shortName
                                        }} app-index-th"
                                        [ngClass]="{
                                            'disable-sort': !title.sortable
                                        }"
                                        appSortingLabel
                                        [(sortingParams)]="sortingParams"
                                        [labelName]="title.name"
                                        [sortableThList]="sortableThList"
                                        (sort)="onChangeSort($event)"
                                    >
                                        {{ title.label }}
                                    </th>
                                </ng-container>
                                <th class="fixed">
                                    {{ labels.discard_header_label }}
                                </th>
                                <th class="fixed">
                                    {{ labels.retry_header_label }}
                                </th>
                            </ng-template>
                            <ng-template
                                #customTableRowContent
                                let-data="data"
                                let-tblFunctions="tblFunctions"
                            >
                                <ng-container
                                    *ngFor="let title of scrollableThList"
                                >
                                    <td
                                        *ngIf="
                                            tblFunctions.isDisplayDataRow(
                                                title,
                                                data
                                            )
                                        "
                                        class="td-{{
                                            title.shortName
                                        }} app-index-td padding-none"
                                        [style]="getTblRowHeight(data)"
                                    >
                                        <ng-container
                                            *ngIf="
                                                !isArrayColumnData(title.name)
                                            "
                                        >
                                            <span class="divider-column"
                                                >{{
                                                    data[
                                                        title.dataKey ||
                                                            title.name
                                                    ]
                                                }}
                                            </span>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                isArrayColumnData(title.name)
                                            "
                                        >
                                            <ng-container
                                                *ngFor="
                                                    let rec of tblFunctions.getArrayColumnData(
                                                        data,
                                                        title.name
                                                    );
                                                    let subIndex = index
                                                "
                                            >
                                                <div
                                                    [ngClass]="{
                                                        'divider-column-border':
                                                            subIndex > 0
                                                    }"
                                                >
                                                    <span
                                                        class="divider-column"
                                                    >
                                                        {{
                                                            rec[
                                                                tblFunctions.getLastColumnPathName(
                                                                    title.name
                                                                )
                                                            ]
                                                        }}
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <td
                                    class="app-index-td app-table__small app-sm-link text-center fixed"
                                    [ngClass]="{
                                        disable: discardIconHiddenFunction(data)
                                    }"
                                    (click)="
                                        discardIconHiddenFunction(data)
                                            ? $event.stopPropagation()
                                            : onClickDiscard(data)
                                    "
                                    [style]="getTblRowHeight(data)"
                                >
                                    <span>
                                        <i
                                            *ngIf="
                                                !discardIconHiddenFunction(data)
                                            "
                                            class="app-icon app-icon-discard"
                                        >
                                        </i>
                                    </span>
                                </td>
                                <td
                                    class="app-index-td app-table__small app-sm-link text-center fixed"
                                    [ngClass]="{
                                        disable: retryIconHiddenFunction(data)
                                    }"
                                    (click)="
                                    retryIconHiddenFunction(data)
                                        ? $event.stopPropagation()
                                        : onClickRetry(data)
                                "
                                >
                                    <span>
                                        <i
                                            *ngIf="
                                                !retryIconHiddenFunction(data)
                                            "
                                            class="app-icon app-icon-update-request"
                                        >
                                        </i>
                                    </span>
                                </td>
                            </ng-template>
                        </app-common-table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-template #csNewModalContent>
        <app-cs-new
            [carId]="carId"
            [resources]="resources"
            [initThList]="this.csNewThList"
        ></app-cs-new>
    </ng-template>
    <ng-template #csEditModalContent>
        <app-cs-edit
            [carId]="carId"
            [inputParams]="inputParams"
            [resources]="resources"
            [initThList]="this.csEditThList"
        ></app-cs-edit>
    </ng-template>
    <ng-template #csGetRequestModalContent>
        <app-cs-get-request [labels]="labels"></app-cs-get-request>
    </ng-template>
    <ng-template #csUpdateRequestConfirmModalContent>
        <app-cs-update-request-confirm
            [labels]="labels"
            [tableData]="tableData"
            [initThList]="this.csUpdateRequestConfirmThList"
        >
        </app-cs-update-request-confirm>
    </ng-template>
    <ng-template #csImmediateUpdateRequestConfirmModalContent>
        <app-cs-immediate-update-request-confirm
            [labels]="labels"
            [resources]="resources"
            [tableData]="tableData"
            [initThList]="this.csImmediateUpdateRequestConfirmThList"
        >
        </app-cs-immediate-update-request-confirm>
    </ng-template>
    <ng-template #csInputDataCancelConfirmModalContent>
        <app-cs-input-data-cancel-confirm [labels]="labels">
        </app-cs-input-data-cancel-confirm>
    </ng-template>
    <ng-template #csRequestResendConfirmModalContent>
        <app-cs-request-resend-confirm
            [labels]="labels"
            [tableData]="tableData"
            [initThList]="this.csRequestResendConfirmThList"
        >
        </app-cs-request-resend-confirm>
    </ng-template>
    <ng-template #csExpectedTrafficConfirmModalContent>
        <app-cs-expected-traffic-confirm
            [labels]="labels"
            [resources]="resources"
            [initThList1]="this.csExpectedTrafficConfirmThList1"
            [initThList2]="this.csExpectedTrafficConfirmThList2"
        >
        </app-cs-expected-traffic-confirm>
    </ng-template>
</section>

<app-alert></app-alert>

<app-sidemenu [isLoading]="isLoading"></app-sidemenu>
