#cd-request-number-tab {
    margin-top: 20px;
    .row {
        display: flex;
    }
    .border {
        display: block;
        width: 100%;
        height: 25px;
        border-top: 1px solid #ddd;
    }
    .link {
        color: #0275d8;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: #014c8c;
        }
    }
    .warning-mes {
        display: inline-block;
        margin-left: 50px;
        color: red;
    }
    ::ng-deep .table-bordered {
        border: 0!important;
    }
}