.kba-search-date-picker {
  margin: 0.25rem 0;

  .KBA-datepicker {
    position: absolute;
    top: 33px;
    right: -25px;
    width: 30px;
    height: 30px;

    &.no-label {
      top: 5px;
      right: -25px;
    }

    .kba-icon {
      position: absolute;
      top: 49%;
      left: 52%;
      margin: -9px 0 0 -9px;
      font-size: 18px;
      color: #fff;
    }
  }
}
