<div id="app-cs-update-request-confirm" *ngIf="labels">
    <div class="row" id="request_message">
        <p>{{labels.customize_update_request_message}}</p>
    </div>
    <app-common-table
        [lists]="lists"
        [thList]="thList"
        [pageParams]="pageParams"
        appSortingLabel
        [sortableThList]="sortableThList"
        [(sortingParams)]="sortingParams"
        [labels]="labels"
        [collapsed]="collapsed"
        [isFetching]="isFetching"
        [mergeColumns]="mergeColumns"
        [emptyListMessage]="'Empty'"
        >
    </app-common-table>
    <div class="row" style="padding: 10px">
        <p>{{labels.customize_update_request_caution_message}}</p>
    </div>
</div>
