<section id="app-history-mgt-list" *ngIf="labels && resource && datePickerParams">
    <div class="container-fluid">
      <h2 class="app-page-title">{{ labels.title }}</h2>
      <div class="app-content">
        <!-- 一覧画面 -->
        <ng-container>
          <!-- 検索アコーディオン -->
          <app-accordion
            [collapsed]="collapsed"
            [useCustomHeader]="false"
            [title]="labels.search_condition"
            [labels]="labels"
            (onChangeState)="changePanelState($event)"
          >
            <div data-app-accordion-body>
              <div class="container app-search">
                <div class="row">
                  <app-common-text
                    class="col-sm-3"
                    [itemName]="'model'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                    [maxlength]="20"
                  >
                  </app-common-text>

                  <app-common-text
                    class="col-sm-3"
                    [itemName]="'type_rev'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                    [maxlength]="15"
                  >
                  </app-common-text>

                  <app-common-text
                    class="col-sm-3"
                    [itemName]="'serials'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                    [maxlength]="41"
                  >
                  </app-common-text>

                  <app-selected
                    class="col-sm-3"
                    *ngIf="resource.car_search.terminalModeType"
                    [itemName]="'terminalModeType'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                    [emitInitialRefresh]="false"
                    (onChangeSelectItem)="disableButtonsHandler($event)"
                  >
                  </app-selected>

                  <app-selected
                    class="col-sm-3"
                    *ngIf="resource.car_search.transmission_type"
                    [itemName]="'transmission_type'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                    [emitInitialRefresh]="false"
                    (onChangeSelectItem)="disableButtonHandler($event)"
                  >
                  </app-selected>

                  <app-selected
                    class="col-sm-3"
                    *ngIf="resource.car_search.representativeDb"
                    [itemName]="'representativeDb'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                  >
                  </app-selected>

                  <app-selected
                    class="col-sm-3"
                    *ngIf="resource.car_search.client"
                    [itemName]="'client'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                  >
                  </app-selected>

                  <app-selected
                    class="col-sm-3"
                    *ngIf="resource.car_search.changeStatus"
                    [itemName]="'changeStatus'"
                    [itemParams]="params"
                    [itemResource]="resource.car_search"
                  >
                  </app-selected>

                  <app-select-type
                    *ngIf="resource.car_search.customize_definition_id"
                    #subGroupSelect
                    class="col-sm-6"
                    name="user_permission_sub_group_ids"
                    [labels]="labels"
                    [targets]="resource.car_search.customize_definition_id"
                  >
                  </app-select-type>
                </div>
              </div>
              <div class="app-panel-footer">
                <a
                  href="javascript:void(0)"
                  (click)="onClickReset()"
                  class="btn btn-link"
                >
                  {{ labels.reset }}
                </a>
                <button
                  (click)="onClickSearch()"
                  type="button"
                  class="btn btn-primary search"
                >
                {{ labels.search }}
                </button>

                <button
                type="button"
                class="btn btn-warning"
                (click)="onDownloadOk($event)"
                [disabled]="checkAllDisabled"
                style="position: absolute; right: 7px;"
                >
                  {{ labels.download_template }}
                <i class="app-icon app-icon-download"></i>
                </button>
              </div>
            </div>
          </app-accordion>

          <!-- 一覧テーブル上部検索オプション欄 -->
          <div class="app-table-options" [hidden]="count <= 0">
            <app-pagination
              [count]="count"
              [params]="pageParams"
              [labels]="labels"
              [element]="pageCountEl"
              (changeState)="onPaginationChange()"
            >
            </app-pagination>

            <div class="table-option-buttons">
              <div class="popover-wrapper">
                <button
                  type="button"
                  class="btn button-redirect"
                  [disabled]="checkAllDisabled"
                  (click)="handleClick()"
                >
                  {{ labels.send_data_request_link }}
                </button>
              </div>
              <div class="popover-wrapper">
                <!--<button
                  type="button"
                  class="btn btn-warning"
                  [disabled]="isDisabled"
                  (click)="onClickSelect(data, idx)"
                >-->
                <!--<button
                  type="button"
                  class="btn btn-warning"
                  [disabled]="isDisabled"
                  (click)="onClickInit()"
                >-->
                <button
                  type="button"
                  class="btn btn-warning"
                  [disabled]="isDisabled"
                  (click)="openCsGetRequestDialog()"
                >


                  {{ labels.setting_request_modal }}
                </button>
              </div>
            </div>
          </div>

          <!-- 一覧テーブル -->
          <div class="app-table-wrapper">
            <app-common-table
              [customTableThContent]="customTableThContent"
              [customTableRowContent]="customTableRowContent"
              [lists]="lists"
              [pageParams]="pageParams"
              [thList]="thList"
              [labels]="labels"
              [collapsed]="collapsed"
              [isFetching]="isFetching"
            >
            </app-common-table>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <ng-template #customTableThContent>
    <ng-container *ngFor="let th of thList">
      <ng-container *ngIf="th.displayable && th.shortName !== 'operation_histories_checkbox'; else checkboxContent">
        <th
          class="app-index-th th-{{ th.shortName }}"
          appSortingLabel
          [ngClass]="{ 'disable-sort': !th.sortable }"
          [(sortingParams)]="sortingParams"
          [labelName]="th.sortKey || th.name"
          [sortableThList]="sortableThList"
          (sort)="onChangeSort($event)"
        >
          <span>{{ th.label || labels[th.shortName] }}</span>
        </th>
      </ng-container>

      <ng-template #checkboxContent>
        <th class="app-index-th fixed th-check">
          <input
              type="checkbox"
              class="app-input-checkbox"
              id="check-icon-all"
              (click)="toggleCheckAll()"
              [checked]="checkAll"
          />
          <label class="app-input-checkbox__label" for="check-icon-all">
              <i class="fa"></i>
          </label>
        </th>
      </ng-template>
    </ng-container>
  </ng-template>

  <ng-template #customTableRowContent let-data="data" let-title="title">
    <ng-container *ngFor="let title of thList">
      <ng-container [ngSwitch]="title.name" *ngIf="title.displayable && title.shortName !== 'operation_histories_customize_definition_label' && title.shortName !== 'operation_histories_checkbox'; else editContent">
        <td class="td-{{ title.shortName }} app-index-td d-flex align-items-center">
          <span>{{ data[title.name] }}</span>
        </td>
      </ng-container>
      <ng-template #editContent>
        <ng-container *ngIf="title.displayable && title.shortName !== 'operation_histories_checkbox'; else checkContent">
          <td style="display: grid; width: 100%;text-align:center;align-items: center;">
            <i class="app-icon app-icon-edit" (click)="handleEditClick()"></i>
          </td>
        </ng-container>
      </ng-template>

      <ng-template #checkContent>
        <td
          *ngIf="selectable"
          class="app-sm-link fixed d-flex justify-content-center td-check"
        >
          <input
              (appTableCheckbox)="onChange($event)"
              (toggleClick)="onCheckSelect($event)"
              (click)="onCheckSelect(checkedItems[data[title.name]], data[title.name])"
              [selectedList]="selectedList"
              [checked]="checkedItems[data[title.name]]"
              id="check-icon-{{ data[title.name] }}"
              type="checkbox"
              class="app-input-checkbox"
          />
          <label
              class="app-input-checkbox__label"
              for="check-icon-{{ data[title.name] }}"
          >
              <i class="fa"></i>
          </label>
        </td>
      </ng-template>
    </ng-container>
  </ng-template>

  <ng-template #resetModalContent>
    <p class="app-modal-message">{{ labels.reset_modal_body }}</p>
  </ng-template>

  <app-sidemenu [isLoading]="isLoading"></app-sidemenu>

<!-- リセット -->
<ng-template #resetModalContent>
  <p class="KBA-modal-message">{{ labels.reset_modal_body }}</p>
</ng-template>

<!-- 初期化 -->
<ng-template #initModalContent>
  <app-kba-simple-list-confirm
    [desc]="initModalValues.listDesc"
    [val]="initModalValues.listVal"
  >
  </app-kba-simple-list-confirm>
</ng-template>

<!-- 結果 -->
<ng-template #resultModalContent>
  <app-kba-simple-list-confirm
    [desc]="resultDesc"
    [val]="resultVal"
    [warningColumns]="'all'"
  >
  </app-kba-simple-list-confirm>
  <p class="result-count-message">{{ resultCountMessage }}</p>
</ng-template>

<ng-template #csGetRequestModalContent>
  <app-cs-get-request [labels]="labels"></app-cs-get-request>
</ng-template>