@import "../../../../../assets/styles/variable";

.date-range {
  display: flex;
  align-items: flex-end;
  width: 100%;

  .separator {
    margin: 0 10px 10px 40px;
  }

  .date-content {
    padding-left: 0;
  }
}

.confirm-message {
  color: $fontRed;
}
