@font-face {
  font-family: "app-icon";
  src: url("../fonts/app-icon.eot");
  src: url("../fonts/app-icon.eot?#iefix") format("eot"),
    url("../fonts/app-icon.woff") format("woff"),
    url("../fonts/app-icon.ttf") format("truetype"),
    url("../fonts/app-icon.svg#app-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="app-icon-"],
[class*=" app-icon-"] {
  font-family: "app-icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-bottom;
}

.app-icon-arrow_1:before {
  content: "\E001";
}
.app-icon-arrow_2:before {
  content: "\E002";
}
.app-icon-calendar:before {
  content: "\E003";
}
.app-icon-check:before {
  content: "\E004";
}
.app-icon-close:before {
  content: "\E005";
}
.app-icon-detail:before {
  content: "\E006";
}
.app-icon-download:before {
  content: "\E007";
}
.app-icon-dustbox:before {
  content: "\E008";
}
.app-icon-edit:before {
  content: "\E009";
}
.app-icon-humberger:before {
  content: "\E00A";
}
.app-icon-map:before {
  content: "\E00B";
}
.app-icon-search:before {
  content: "\E00C";
}
.app-icon-success:before {
  content: "\E00D";
}
.app-icon-upload:before {
  content: "\E00E";
}

@font-face {
  font-family: "app-extra-icon";
  src: url("../fonts/app-extra-icon.eot?39mry1");
  src: url("../fonts/app-extra-icon.eot?39mry1#iefix")
      format("embedded-opentype"),
    url("../fonts/app-extra-icon.ttf?39mry1") format("truetype"),
    url("../fonts/app-extra-icon.woff?39mry1") format("woff"),
    url("../fonts/app-extra-icon.svg?39mry1#app-extra-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="app-extra-icon-"],
[class*=" app-extra-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "app-extra-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-extra-icon-minus:before {
  content: "\e970";
}
.app-extra-icon-plus:before {
  content: "\e971";
}
.app-extra-icon-release:before {
  content: "\e972";
}
.app-extra-icon-user:before {
  content: "\e973";
}
.app-extra-icon-history:before {
  content: "\e974";
}
.app-extra-icon-th-large:before {
  content: "\f009";
}
.app-extra-icon-th-list:before {
  content: "\f00b";
}

@font-face {
  font-family: "app-car-icon";
  src: url("../fonts/app-car-icon.eot?pa0npo");
  src: url("../fonts/app-car-icon.eot?pa0npo#iefix")
      format("embedded-opentype"),
    url("../fonts/app-car-icon.ttf?pa0npo") format("truetype"),
    url("../fonts/app-car-icon.woff?pa0npo") format("woff"),
    url("../fonts/app-car-icon.svg?pa0npo#app-car-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="app-car-icon-"],
[class*=" app-car-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "app-car-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-car-icon-65:before {
  content: "\41";
}
.app-car-icon-66:before {
  content: "\42";
}
.app-car-icon-67:before {
  content: "\43";
}
.app-car-icon-68:before {
  content: "\44";
}
.app-car-icon-69:before {
  content: "\45";
}
.app-car-icon-70:before {
  content: "\46";
}
.app-car-icon-71:before {
  content: "\47";
}
.app-car-icon-72:before {
  content: "\48";
}
.app-car-icon-73:before {
  content: "\49";
}
.app-car-icon-74:before {
  content: "\4a";
}
.app-car-icon-75:before {
  content: "\4b";
}
.app-car-icon-76:before {
  content: "\4c";
}
.app-car-icon-77:before {
  content: "\4d";
}
.app-car-icon-78:before {
  content: "\4e";
}
.app-car-icon-79:before {
  content: "\4f";
}
.app-car-icon-80:before {
  content: "\50";
}
.app-car-icon-81:before {
  content: "\51";
}
.app-car-icon-82:before {
  content: "\52";
}
.app-car-icon-83:before {
  content: "\53";
}
.app-car-icon-85:before {
  content: "\55";
}
.app-car-icon-86:before {
  content: "\56";
}
.app-car-icon-87:before {
  content: "\57";
}
.app-car-icon-88:before {
  content: "\58";
}
.app-car-icon-89:before {
  content: "\59";
}
.app-car-icon-90:before {
  content: "\5a";
}
.app-car-icon-97:before {
  content: "\61";
}
.app-car-icon-98:before {
  content: "\62";
}
.app-car-icon-99:before {
  content: "\63";
}
.app-car-icon-100:before {
  content: "\64";
}
