.map-popup {
  width: 200px;

  .car-name {
    margin-bottom: 10px;
    font-size: 12px;
    color: #005aa7;
  }

  .popup-list-item {
    &:nth-child(-n + 1) {
      margin-bottom: 8px;
    }
  }

  .popup-link {
    font-size: 12px;
    line-height: 1;
    color: #08f;
    text-decoration: underline;
    cursor: pointer;
  }
}

.map-wrapper {
  &.show-landmark-caption {
    .app-landmarkIcon__label {
      display: block !important;
    }
  }

  .app-landmarkIcon__label {
    display: none !important;
    width: 64px;
    overflow: hidden;
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.8);
  }

  .car-caption {
    padding: 0 3px;
    margin: 4px auto 0;
    font-size: 11px;
    color: #fff;
    white-space: nowrap;
    background-color: #284cae;
    border-radius: 2px;

    &-label {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 4px;

        &::after {
          display: inline-block;
          padding-left: 4px;
          content: "/";
        }
      }
    }
  }
}
