<ng-container *ngIf="targets">
    <label class="label-caption">{{ targets.name }}</label>
    <div class="col row row-select-type">
        <ng-container *ngFor="let type of selectTypes">
            <ng-container *ngIf="type !== 'selections'">
                <div class="list-select-type">
                    <input
                        name="select-type-{{ name }}"
                        class="app-input-radio"
                        type="radio"
                        id="select-type-{{ name }}-{{ type }}"
                        [value]="type"
                        [(ngModel)]="selectedOption"
                        (change)="onChangeSelectType()"
                    />
                    <label
                        for="select-type-{{ name }}-{{ type }}"
                        class="app-input-radio__label"
                    >
                        {{ targetInfo[type].label }}
                    </label>
                </div>
            </ng-container>

            <ng-container *ngIf="type === 'selections'">
                <div class="list-select-type">
                    <input
                        name="select-type-{{ name }}"
                        class="app-input-radio"
                        type="radio"
                        id="select-type-select-{{ name }}"
                        [value]="type"
                        [(ngModel)]="selectedOption"
                        (change)="onChangeSelectType()"
                    />
                    <label
                        for="select-type-select-{{ name }}"
                        class="app-input-radio__label"
                    >
                        {{ labels.choose_from_list }}
                    </label>
                </div>
                <app-multiselect
                    *ngIf="selectedOption === 'selections'"
                    [title]="labels.prompt_to_select"
                    [options]="listSelections"
                    [(selectedItems)]="selectedListItems"
                    (changeItems)="onChangeItems()"
                >
                </app-multiselect>
            </ng-container>
        </ng-container>
    </div>
    <div
        class="row app-list-select"
        *ngIf="listSelections != null && selectedOption === 'selections'"
    >
        <div class="app-list-select-tag" *ngFor="let listItem of selectedListItems">
            <span>
                {{ listItem.name }}
            </span>
            <button type="button" (click)="onClickRemoveTag(listItem.id)">
                <i class="app-icon-close"></i>
            </button>
        </div>
    </div>
</ng-container>
