<div
    class="app-select"
    *ngIf="isVisible"
    [ngClass]="{ horizontal: horizontal }"
>
    <label for="app-select-label" *ngIf="showLabel">{{
        itemResource[itemName] && itemResource[itemName].name
    }}</label>
    <p [hidden]="!notEditable">{{ viewData() }}</p>
    <div [hidden]="notEditable">
        <ng-select
            id="app-select-{{ itemName }}"
            name="itemName"
            [ngClass]="hasSearchResult ? '' : 'no-items'"
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [items]="items"
            [clearable]="false"
            [(ngModel)]="itemParams[itemName]"
            [virtualScroll]="items.length > 100"
            [appendTo]="appendTo"
            [dropdownPosition]="'bottom'"
            (search)="handleSearch($event)"
            (change)="onSelectItem($event)"
            (close)="hasSearchResult = true"
            (open)="handleOpen()"
        >
            <ng-template ng-label-tmp ng-option-tmp let-item="item">
                <span [ngClass]="item.isHighlightItem ? 'highlight' : ''">{{ item.name }}</span>
            </ng-template>
        </ng-select>
    </div>
</div>
