<div id="app-number-comfirm">
    <app-common-table [lists]="lists" [thList]="thList" [(sortingParams)]="sortingParams" [customTableRowContent]="customTableRowContent" [mergeRows]="true">
        <ng-template #customTableRowContent let-data="data" let-rowgroup="rowgroup" let-rowspan="rowspan">
            <td *ngIf="data['columnName1Rowspan'] > 0" [attr.rowspan]="data['columnName1Rowspan']">
                <span>AA</span>
            </td>
            <td>
                <span>BB</span>
            </td>
            <td>
                <span>CC</span>
            </td>
            <td>
                <span>DD</span>
            </td>
            <td>
                <span>EE</span>
            </td>
            <td>
                <span>FF</span>
            </td>
        </ng-template>
    </app-common-table>
</div>