@import "../../../../assets/styles/variable";

.row {
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &.row-select-type {
    padding: 0;
    margin: 0;
    min-height: 33px;

    label {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

.list-select-type {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-left: 25px;
  }

  input {
    margin-right: 6px;
  }
}

.KBA-list-select {
  margin-top: 5px;
  padding-left: 15px;

  .KBA-list-select-tag {
    border: 1px solid $kba-darkgray-color;
    vertical-align: middle;
    display: flex;
    padding: 5px 10px;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 8px;

    span,
    button {
      display: block;
    }

    span {
      padding-right: 8px;
    }

    button {
      border: none;
      background-color: transparent;
      padding: 0;
      vertical-align: middle;
    }

    .kba-icon-close {
      display: block;
      color: $fontRed;
    }
  }
}

app-kba-multiselect {
  margin: 0 15px;
  flex-grow: 1;
  max-width: 360px;
}
