<section id="KBA-car-operator-init" *ngIf="labels && resource">
  <div
    class="container-fluid"
    *ngIf="!isOpenDetail && !isOpenDeleteAll && !isOpenSettingAll"
  >
    <h2 class="KBA-car-operator-init__title KBA-page-title">
      {{ labels.title }}
    </h2>
    <div class="KBA-content">
      <!-- 検索 -->
      <app-kba-accordion
        [collapsed]="collapsed"
        [useCustomHeader]="false"
        [title]="labels.search_condition"
        [isLoading]="isLoading"
        [labels]="labels"
        (onChangeState)="changePanelState($event)"
      >
        <div data-kba-accordion-body>
          <div class="container KBA-search">
            <div class="row">
              <app-kba-selected
                *ngIf="resource.assigned_group_id"
                class="col-sm-3"
                [kbaName]="'assigned_group_id'"
                [kbaParams]="params"
                [kbaResource]="resource"
              >
              </app-kba-selected>
              <app-kba-text
                *ngIf="resource.models"
                class="col-sm-3"
                [kbaName]="'models'"
                [kbaParams]="params"
                [kbaResource]="resource"
                [maxlength]="20"
              >
              </app-kba-text>
              <app-kba-text
                *ngIf="resource.type_revs"
                class="col-sm-3"
                [kbaName]="'type_revs'"
                [kbaParams]="params"
                [kbaResource]="resource"
                [maxlength]="15"
              >
              </app-kba-text>
              <app-kba-text
                *ngIf="resource.serials"
                class="col-sm-3"
                [kbaName]="'serials'"
                [kbaParams]="params"
                [kbaResource]="resource"
              >
              </app-kba-text>
            </div>
          </div>
          <div class="KBA-panel-footer">
            <button
              (click)="onClickSearch()"
              type="button"
              class="btn btn-primary search"
            >
              {{ labels.search }}
            </button>
          </div>
        </div>
      </app-kba-accordion>

      <!-- ページネーション -->
      <div class="KBA-table-options" [hidden]="count <= 0">
        <app-kba-pagination
          [count]="count"
          [params]="pageParams"
          [labels]="labels"
          [element]="pageCountEl"
          (changeState)="onPaginationChange()"
        >
        </app-kba-pagination>
        <div class="table-option-buttons">
          <button
            type="button"
            class="btn btn-primary assigns-btn"
            (click)="onClickAssign()"
            [disabled]="!(selectedList | isNotEmpty) || !enableAssigns"
          >
            {{ labels.assign }}
          </button>
        </div>
      </div>

      <!-- 一覧 -->
      <app-kba-table
        [labels]="labels"
        [collapsed]="collapsed"
        [lists]="lists"
        [pageParams]="pageParams"
        [(sortingParams)]="sortingParams"
        [thList]="thList"
        [sortableThList]="sortableThList"
        [selectable]="selectable"
        [isFetching]="isFetching"
        [checkedItems]="checkedItems"
        [checkIdName]="checkIdName"
        (sort)="onChangeSort($event)"
      >
      </app-kba-table>
    </div>
  </div>
</section>

<!-- 初期化 -->
<ng-template #assignModalContent>
  <app-kba-simple-list-confirm
    [desc]="assignsModalValues.listDesc"
    [val]="assignsModalValues.listVal"
  >
  </app-kba-simple-list-confirm>
</ng-template>

<!-- 結果 -->
<ng-template #resultModalContent>
  <app-kba-simple-list-confirm
    [desc]="resultDesc"
    [val]="resultVal"
    [warningColumns]="'all'"
  >
  </app-kba-simple-list-confirm>
  <p class="result-count-message">{{ resultCountMessage }}</p>
</ng-template>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
