.container-fluid {
  padding-bottom: 54px;
}

.table-customer {
  margin-bottom: 25px;
}

.KBA-contact-customer {
  text-indent: 25px;
}

.kba-icon {
  position: relative;
  top: 4px;
  font-size: 20px;
}
