.app-search-date-time-picker {
    margin: 0.25rem 0;

    .app-datepicker {
        position: relative;
        top: -5px;
        right: -5px;
        width: 30px;
        height: 30px;

        &.no-label {
            top: -5px;
            right: -5px;
        }

        .app-icon {
            position: absolute;
            top: 49%;
            left: 52%;
            margin: -9px 0 0 -9px;
            font-size: 18px;
            color: #fff;
        }
    }
}