<div id="cd-number-list-request-tab" *ngIf="labels && resource && datePickerParams">
    <div style="display: flex;">
        <div class="col-6 no-pad" style="display: flex;">
            <div class="col-6">
                <label>{{resource.send_number_list_request_definition_id_kind.name}}</label>
                <div style="display: flex;">
                    <div class="col-6">
                        <input
                            name="request_type"
                            id="request_period_kind_{{ resource.send_number_list_request_definition_id_kind.values[0].value }}"
                            type="radio"
                            class="app-input-radio"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="changeRequestType()"
                            [value]="resource.send_number_list_request_definition_id_kind.values[0].value"
                            [(ngModel)]="request_period_kind" />
                        <label for="request_period_kind_{{ resource.send_number_list_request_definition_id_kind.values[0].value }}" class="app-input-radio__label kind-attribute">
                            {{resource.send_number_list_request_definition_id_kind.values[0].name}}
                        </label>
                    </div>
                    <div class="col-6">
                        <input
                            name="request_type"
                            id="request_period_kind_{{ resource.send_number_list_request_definition_id_kind.values[1].value }}"
                            type="radio"
                            class="app-input-radio"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="changeRequestType()"
                            [value]="resource.send_number_list_request_definition_id_kind.values[1].value"
                            [(ngModel)]="request_period_kind" />
                        <label for="request_period_kind_{{ resource.send_number_list_request_definition_id_kind.values[1].value }}" class="app-input-radio__label kind-main-info">
                            {{resource.send_number_list_request_definition_id_kind.values[1].name}}
                        </label>
                    </div>
                </div>
                <!-- <app-select-type
                    #requestMumberDefinitionIdKind
                    name="send_number_list_request_definition_id_kind"
                    [labels]="labels"
                    [targets]="resource.send_number_list_request_definition_id_kind"
                    (changed)="onChangeRequestNumber()"
                  >
                </app-select-type> -->
            </div>
            <div class="col-6">
                <label class="required">{{request_period_kind == '1' ? resource.send_number_list_request_usage_definition_ids.name : resource.send_number_list_request_definition_ids.name}} <span>*</span></label>
                <div class="col-12">
                    <app-multiselect
                        [options]="listSelections"
                        [(selectedItems)]="selectedListItems"
                        (changeItems)="onChangeItems()"
                        [title]="resource.send_number_list_request_definition_ids.placeholder_text">
                    </app-multiselect>
                </div>
                <div class="col-12 item-selected" *ngIf="selectedListItems.length > 0">
                    <div *ngFor="let item of selectedListItems" class="item"> {{ item.name }}
                        <i class="app-icon-close" (click)="onClickRemoveTag(item.value)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div>
                <div>
                    <app-from-to-date-time-picker
                        #fromToDatePicker
                        [from]="'send_number_list_request_datetime_from'"
                        [to]="'send_number_list_request_datetime_to'"
                        [params]="params"
                        [resource]="resource"
                        [labels]="labels"
                        [beginningWday]="beginningWday"
                        [enableDateRange]="enableDateRange"
                        [dateFormat]="dateFormat"
                        [timeZone]="timeZone"
                        [showSeconds]="true"
                        [showMilliseconds]="false"
                        [fromShowLabel]="true"
                        [toShowLabel]="true"
                    >
                    </app-from-to-date-time-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col-3">
            <label><b>{{labels.request_car_result_detail}}</b></label>
            <app-common-table
                [lists]="lists"
                [thList]="thList"
                [sortableThList]="sortableThList"
                [(sortingParams)]="sortingParams"
                [labels]="labels"
                [customTableRowContent]="customTableRowContent">
                <ng-template #customTableRowContent let-data="data">
                    <ng-container *ngFor="let title of thList">
                      <td *ngIf="title.displayable">
                        <span>{{ printInfoCar(data) }}</span>
                      </td>
                    </ng-container>
                  </ng-template>
            </app-common-table>
        </div>
    </div>
    <div class="app-control">
        <button type="button" class="btn btn-primary btn-send" (click)="openDialogNumberListRequestComfirm()">{{labels.number_list_request_tab_title}}</button>
    </div>
</div>

<ng-template #cdNumberListRequestComfirmModalContent>
    <div class="model-header">
        <p class="model-title">{{labels.send_number_request_confirm_message}}</p>
    </div>
    <app-cd-number-list-request-confirm
        [labels]="labels"
        [data]="data"
        [thList]="thListModal"
        [resource]="resource">
    </app-cd-number-list-request-confirm>
</ng-template>