<section id="KBA-group-area-car-index" *ngIf="labels && resource">
  <form class="KBA-form" #f="ngForm">
    <div class="container-fluid">
      <h2 class="KBA-group-area-index__title KBA-page-title">
        {{ labels.title }}
      </h2>

      <div class="KBA-content">
        <!-- 検索 -->
        <app-kba-accordion
          [collapsed]="collapsed"
          [useCustomHeader]="false"
          [title]="labels.search_condition"
          [labels]="labels"
          (onChangeState)="changePanelState($event)"
        >
          <div data-kba-accordion-body>
            <div class="container KBA-search">
              <app-kba-car-search
                [activeTab]="activeTab"
                [modelCarTypeCheck]="modelCarTypeCheck"
                [labels]="labels"
                [resource]="resource"
                [params]="params"
                (changeModelCarTypeCheck)="onChangeModelCarTypeCheck()"
                (changeSupportDistributor)="onChangeSupportDistributor($event)"
                (changeServiceDb)="onChangeServiceDb($event)"
                (changeServiceDbOrgCode)="onChangeServiceDbOrgCode($event)"
                (changeSupportDbOrgCode)="onChangeSupportDbOrgCode($event)"
              >
              </app-kba-car-search>
            </div>
            <div class="KBA-panel-footer">
              <a
                href="javascript:void(0)"
                (click)="onClickReset()"
                class="btn btn-link"
              >
                {{ labels.reset }}
              </a>
              <button
                (click)="onClickSearch()"
                type="button"
                class="btn btn-primary search"
              >
                {{ labels.search }}
              </button>
              <button
                type="button"
                class="btn btn-warning btn-download"
                (click)="onClickDownload()"
              >
                {{ labels.download_template }}
                <i class="kba-icon kba-icon-download"></i>
              </button>
            </div>
          </div>
        </app-kba-accordion>

        <!-- 検索条件一覧 -->
        <app-kba-accordion
          [collapsed]="listCollapsed"
          [useCustomHeader]="false"
          [title]="labels.search_condition_list"
          [labels]="labels"
          (onChangeState)="changeListPanelState($event)"
        >
          <div data-kba-accordion-body>
            <app-kba-search-conditions
              [params]="params"
              [resource]="resource"
              [pageCount]="pageParams.pageCount"
              [selectorKeys]="selectorKeys"
              [selectedParams]="getSelectedParams()"
              [modelCarTypeCheck]="modelCarTypeCheck"
            >
            </app-kba-search-conditions>
          </div>
        </app-kba-accordion>

        <!-- ページネーション -->
        <div class="KBA-table-options" [hidden]="count <= 0">
          <app-kba-pagination
            [count]="count"
            [params]="pageParams"
            [labels]="labels"
            [element]="pageCountEl"
            (changeState)="onPaginationChange()"
          >
          </app-kba-pagination>
          <div class="table-option-buttons">
            <div class="popover-wrapper">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="onClickFieldSelect($event)"
              >
                {{ labels.field_select }}
              </button>
              <app-kba-popover
                [labels]="labels"
                [resource]="fieldResources"
                [fields]="fields"
                [title]="labels.field_select_title"
                [(isVisible)]="fieldSelectPopoverVisible"
                (ok)="onFieldSelectOk($event)"
              >
              </app-kba-popover>
            </div>
            <div class="delete-wrapper" *ngIf="deletable">
              <span
                class="delete-warning-message"
                *ngIf="selectedList.length > batchDeleteLimit"
                >{{ labels.alert_over_upper_limit }}</span
              >
              <button
                type="button"
                class="KBA-selectable-columns btn btn-secondary delete-all"
                (click)="onClickDeleteAll()"
                [disabled]="
                  !(selectedList | isNotEmpty) ||
                  !deletable ||
                  selectedList.length > batchDeleteLimit
                "
              >
                {{ labels.delete_all }}
                <i class="kba-icon kba-icon-dustbox"></i>
                <span
                  class="delete-count"
                  [ngClass]="
                    selectedList.length > batchDeleteLimit ? 'warning' : ''
                  "
                >
                  {{ selectedList.length }}/{{ batchDeleteLimit
                  }}{{ labels.delete_count }}
                </span>
              </button>
            </div>
          </div>
        </div>

        <!-- 一覧 -->
        <app-kba-table
          [customTableRowContent]="customTableRowContent"
          [labels]="labels"
          [collapsed]="collapsed"
          [lists]="lists"
          [pageParams]="pageParams"
          [fixedThList]="fixedThList"
          [scrollableThList]="scrollableThList"
          [(sortingParams)]="sortingParams"
          [sortableThList]="sortableThList"
          [selectable]="selectable"
          [updatable]="updatable"
          [deletable]="deletable"
          [isFetching]="isFetching"
          [checkIdFunction]="checkIdFunction"
          [checkedItems]="checkedItems"
          [multiLineColumns]="lineBreakColumns"
          (edit)="onClickEdit($event)"
          (delete)="onClickDelete($event)"
          (sort)="onChangeSort($event)"
        >
          <ng-template #customTableRowContent let-data="data">
            <ng-container *ngFor="let title of scrollableThList">
              <td
                *ngIf="title.displayable"
                class="td-{{ title.shortName }} KBA-index-td"
                [ngClass]="{ 'line-break': isLineBreak(title.name) }"
              >
                <span>{{ data[title.dataKey || title.name] }}</span>
              </td>
            </ng-container>
          </ng-template>
        </app-kba-table>
      </div>
    </div>
  </form>
</section>

<ng-template #resetModalContent>
  <p class="KBA-modal-message">{{ labels.reset_modal_body }}</p>
</ng-template>

<ng-template #deleteModalContent>
  <app-kba-simple-list-confirm
    [desc]="deleteModalValues.listDesc"
    [val]="deleteModalValues.listVal"
  >
  </app-kba-simple-list-confirm>
</ng-template>

<ng-template #resultModalContent>
  <app-kba-simple-list-confirm
    [desc]="resultDesc"
    [val]="resultVal"
    [warningColumns]="'all'"
  >
  </app-kba-simple-list-confirm>
  <p class="result-count-message">{{ resultCountMessage }}</p>
</ng-template>

<app-kba-alert></app-kba-alert>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
