@import "../../../../../assets/styles/variable";
@import "../../../../../assets/styles/util";

.td-cars_car_operator_operator_identification_kind {
  > span {
    min-width: 65px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    border: 1.5px solid;
    border-radius: 4px;

    &.off {
      color: #858585;
      border-color: #858585;

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }

  &.disable {
    background-color: #f5f5f5 !important;

    span {
      opacity: 0.3;

      &.off:hover {
        background-color: transparent;
      }

      &.on:hover {
        background-color: $kba-green-color;
        @include btnBorder($kba-green-color);
      }
    }
  }
}

.setting-on {
  color: #fff;
  background-color: $kba-green-color;
  @include btnBorder($kba-green-color);

  &:not(:disabled):hover {
    background-color: $kba-darkgreen-color;
    @include btnBorder($kba-darkgreen-color);
  }
}
