<div id="app-cs-new" *ngIf="labels && resource">
    <div class="app-content">
        <div class="row">
            <app-selected
                #customizeDefinitionName
                class="col-sm-3"
                [itemName]="'regist_customize_usage_definition_name'"
                [itemParams]="params"
                [showLabel]="true"
                [itemResource]="resource"
                (onChangeSelectItem)="refreshCustomizeDefinitionName($event)">
            </app-selected>
            <app-selected
                #customizeDefinitionVersion
                class="col-sm-3"
                [itemName]="'regist_customize_usage_definition_version'"
                [itemParams]="params"
                [showLabel]="true"
                [itemResource]="resource"
                (onChangeSelectItem)="refreshCustomizeDefinitionVersion($event)">
            </app-selected>
        </div>
        <div class="row">
            <app-from-to-date-picker
                  #fromToDatePicker
                  class="col-sm-6"
                  [from]="'regist_start_date'"
                  [to]="'regist_end_date'"
                  [params]="params"
                  [resource]="resource"
                  [labels]="labels"
                  [beginningWday]="beginningWday"
                  [enableDateRange]="enableDateRange"
                  [dateFormat]="_dateFormat"
                  [fromShowLabel]="true"
                  [toShowLabel]="true"
                  [timeZone]="timeZone"
                  [required]="true"
                >
            </app-from-to-date-picker>
        </div>

         <div class="row">
            <app-selected
                #isEnabled
                class="col-sm-3"
                [itemName]="'regist_active_name'"
                [itemParams]="params"
                [showLabel]="true"
                [itemResource]="resource">
            </app-selected>

            <app-selected
                #priority
                class="col-sm-3"
                [itemName]="'regist_priority_name'"
                [itemParams]="params"
                [showLabel]="true"
                [itemResource]="resource">
            </app-selected>
        </div>

        <div class="row" style="margin-top: 15px;">
            <p>{{labels.customize_definition_detail}}<br/>{{displayDefinitionName}}</p>
        </div>

        <div class="row" style="margin-top: 5px; text-align: center;">
            <app-common-table
                style="width: 820px;"
                [lists]="lists"
                [thList]="thList"
                appSortingLabel
                [sortableThList]="sortableThList"
                [(sortingParams)]="sortingParams"
                [emptyListMessage]="'Empty'">

            </app-common-table>
        </div>
    </div>
</div>
