.KBA-toggle-buttons {
  margin-bottom: 10px;

  > li {
    display: inline-block;
    position: relative;

    .btn {
      min-width: 170px;
      text-align: center;
      border: 1px solid #99cccc;
      background: #fff;
      color: #d3d3d3;
      @include ellipsis;

      &.KBA-toggle-button__on {
        background: #99cccc;
        color: #fff;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
    }

    & + li {
      margin-left: 15px;
    }
  }
}

.btn {
  &.btn-delete,
  &.btn-unlink {
    background-color: #eb3c31;
    @include btnBorder(#eb3c31);
    color: #ffffff;
    &:hover {
      background-color: #882f22;
      @include btnBorder(#882f22);
    }
  }
}
