#KBA-modeltype-modal {
  .KBA-input-checkbox__label {
    padding: 0 0 0 25px;
  }
}

.KBA-modal {
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #ddd;
  }

  .form-group {
    display: block;
    margin-bottom: 15px;
    > * {
      padding: 0;
    }
  }

  .KBA-modal-header {
    background: $kba-main-color;
    padding: 15px;

    > h1 {
      margin: 0;
      font-size: 16px;
      color: #fff;
    }
  }

  .KBA-modal-body {
    @media (max-height: 740px) {
      max-height: calc(100vh - 202px);
    }
    @media (min-height: 741px) {
      max-height: 538px;
    }

    padding: 15px;
    overflow: auto;
    margin-bottom: 64px;

    .KBA-modal-form__label {
      font-weight: normal;
      color: $kba-main-color;
    }

    > ul > li {
      margin-bottom: 20px;

      > h2 {
        margin: 0 0 10px;
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .KBA-modal-warning {
      color: red;
      white-space: pre-line;
      text-align: center;
      margin-top: 20px;
    }
    .KBA-modal-message {
      color: black;
      white-space: pre-line;
      text-align: center;
    }

    td {
      word-break: break-word;
      white-space: normal;
    }

    .KBA-form-table__head {
      white-space: break-word;
    }
  }

  .KBA-modal-footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    border-radius: 0 0 0.3rem 0.3rem;
    border-color: #ddd;

    .btn {
      min-width: 200px;
      cursor: pointer;
    }

    > :not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.modal.photo-modal {
  .modal-dialog {
    width: 632px;
    max-width: 632px;
  }
}

.modal.map-modal {
  .modal-dialog {
    .modal-content {
      max-width: 1280px;

      .KBA-map-buttons {
        top: 10px;
        right: 12px;
      }
    }
  }

  kba-modal-content {
    max-width: none;
  }

  .KBA-map {
    position: relative;
    height: 500px;
  }

  .KBA-modal-body {
    padding: 0;
  }

  .KBA-area-canvas {
    width: 100%;
  }
}

ngb-modal-window {
  opacity: 0;

  &.hidden {
    display: none;
  }

  &.fade {
    &.show {
      opacity: 0;

      .modal-dialog {
        transform: translate(0, -25%);
      }
    }

    &._show {
      opacity: 1;

      .modal-dialog {
        transform: translate(0, 0);
      }
    }
  }
}

ngb-modal-backdrop {
  opacity: 0;

  &.fade {
    &.show {
      opacity: 0;
    }

    &._show {
      opacity: 0.5;
    }
  }
}

.modal {
  z-index: 3020;
}

.modal-backdrop {
  z-index: 3010;
}

.nation-id-select {
  .ng-dropdown-panel.ng-select-bottom {
    position: fixed;
    top: auto;
    left: auto;
    width: 246px;
  }
}
