.user-search-content {
  form {
    margin: 0 5px;
  }

  .search-condition-area {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;

    .search-item {
      width: calc(25% - 10px);
      margin-right: 10px;
    }

    app-kba-text {
      .kba-text {
        margin-bottom: 15px;
      }
    }

    app-kba-selected {
      .kba-select {
        margin-bottom: 15px;
      }

      .ui-select-choices {
        max-height: 113px;
      }
    }
  }

  .result_search {
    margin: 0 5px;
    height: 380px;

    &.pagination {
      height: 345px;

      .loading-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .loading-indicator {
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -15px 0 0 -15px;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          border: 8px solid $kba-main-color;
          border-right-color: transparent;
          -webkit-animation: spin 0.8s infinite linear;
          -moz-animation: spin 0.8s infinite linear;
          animation: spin 0.8s infinite linear;
        }
      }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
          opacity: 0.4;
        }
        50% {
          -webkit-transform: rotate(180deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: rotate(360deg);
          opacity: 0.4;
        }
      }

      @-moz-keyframes spin {
        0% {
          -moz-transform: rotate(0deg);
          opacity: 0.4;
        }
        50% {
          -moz-transform: rotate(180deg);
          opacity: 1;
        }
        100% {
          -moz-transform: rotate(360deg);
          opacity: 0.4;
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
          opacity: 0.4;
        }
        50% {
          transform: rotate(180deg);
          opacity: 1;
        }
        100% {
          transform: rotate(360deg);
          opacity: 0.4;
        }
      }
    }
  }

  .KBA-table-modal {
    height: 100%;

    tr {
      th:first-child,
      td:first-child {
        border-left-width: 0;
      }

      th:last-child,
      td:last-child {
        border-right-width: 0;
      }
    }

    tbody.KBA-table-tbody-modal {
      tr {
        &.selected {
          background-color: $kba-selected-color;
        }
        &:hover {
          &:not(.selected) {
            background-color: $kba-sub-color;
          }
        }
      }
    }
  }
}
