<div class="app-select">
    <ng-select
        class="app-multiselect"
        [ngClass]="hasSearchResult ? '' : 'no-items'"
        [items]="options"
        [multiple]="true"
        [bindLabel]="'name'"
        [closeOnSelect]="false"
        [placeholder]="title"
        [clearable]="false"
        (change)="handleChangeSelection($event)"
        (open)="handleOpen()"
        (search)="handleSearch($event)"
        [(ngModel)]="selectedItems"
        (close)="hasSearchResult = true"
    >
        <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
        >
            <div class="multiselect-option">
                <span>{{ item.name }}</span>
                <i class="fa fa-check app-icon" [hidden]="!item$.selected"></i>
            </div>
        </ng-template>
    </ng-select>
</div>
