@import "../../../../../assets/styles/opa/_variable.scss";

.caption {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.btn-select {
  min-width: 100px;
  margin-top: 20px;
}

.model-type-setting-content {
  max-width: 1000px;
  margin: -16px;

  &_header {
    padding: 16px;
    align-items: baseline;

    .search-conditions {
      display: flex;
      width: 100%;
      margin-left: -15px;
    }
  }

  &_body {
    padding-top: 1px;
    border: 1px solid #ddd;
  }
}
