.KBA-home-trademark-wrapper {
  width: 316px;
  padding: 16px 20px 34px;
  margin: 20px 50px 0 60px;
  background: #fff;
  border: 1px solid $kba-lightgray-color;

  .KBA-home-trademark__content {
    font-size: 13px;
  }
}
