.KBA-home-notice-wrapper {
  margin: 0 50px 0 60px;
  padding: 16px 20px 34px;
  width: 316px;
  background: #fff;
  border: 1px solid $kba-lightgray-color;

  .KBA-home-notice__title {
    height: 32px;
    width: 100%;
    color: $kba-main-color;
    font-size: 15px;
    font-weight: bold;

    span {
      vertical-align: middle;

      &.kba-icon {
        margin-right: 8px;
        font-size: 28px;
      }
    }
  }

  .KBA-home-notice__body {
    &:not(:last-of-type) {
      border-bottom: 1px solid $kba-lightgray-color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .KBA-home-notice__start_datetime {
      text-align: right;
      font-size: 13px;
      color: $kba-darkgray-color;
    }

    .KBA-home-notice__contents {
      font-size: 13px;
      color: $kba-main-color;
    }

    .KBA-home-notice__empty {
      margin-top: 10px;
      font-size: 13px;
      color: $kba-darkgray-color;
    }
  }
}
