.row-group-select-buttons {
  margin-left: 0;
  .btn-primary {
    min-width: 100px;
    cursor: pointer;

    + .btn {
      margin-left: 15px;
    }
  }

  .selected-group-label {
    margin: 0 0 0 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 33px;
  }
}
