.radio-inline {
    display: inline-block;

    +.radio-inline {
        margin-left: 10px;
    }
}

.modal-dialog {
    max-width: 900px;
}

.app-table_rev-cell {
    padding: 10px !important;
}

.model-cell,
.btn-cell {
    white-space: nowrap !important;

    .btn {
        white-space: nowrap;
    }
}