<nav id="app-sidemenu" [ngClass]="{ visible: isVisible }">
    <a href="javascript:void(0)" (click)="toggleMenuVisible()">
      <i
          class="app-icon"
          [ngClass]="{
              'app-icon-close': isVisible,
              'app-icon-humberger': !isVisible
          }"
      ></i>
    </a>

    <ul *ngIf="navigationsSideMenu"
        data-role="sidemenu"
        [sortableData]="navigationsSideMenu"
        [dragula]="SIDE_MENU_ITEM"
        [(dragulaModel)]="navigationsSideMenu"
    >
        <li *ngFor="let item of navigationsSideMenu; let i = index"
            dnd-sortable
            [sortableIndex]="i"
        >
            <app-sidemenu-item
                [isLoading]="isLoading"
                [item]="item"
            ></app-sidemenu-item>
        </li>
    </ul>
</nav>
<div *ngIf="isVisible"
    class="app-sidemenu-backdrop"
    (click)="toggleMenuVisible()"
></div>
