@import "../../../../../../assets/styles/opa/_variable.scss";

%accordion-header {
  padding: 6px 15px;
  color: $kba-main-color;
  background-color: #cae5df;
}

.content-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}

.detail-modal-content {
  .detail-modal-list {
    width: calc(100% + 30px);
    margin: -15px 0 -15px -15px;

    li {
      padding: 15px;

      &.preset-roles-header {
        @extend %accordion-header;
        text-align: center;
      }

      &:nth-child(n + 2) {
        border-top: 1px solid #ddd;
      }
    }
  }
}

.detail-modal-table {
  table-layout: fixed;

  td {
    border-top: 0;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.detail-modal-group-container {
  margin-bottom: -20px;

  .detail-modal-group {
    margin-bottom: 20px;
  }
}

.map-container {
  height: 0;

  .map-overlay {
    position: absolute;
    z-index: 1051;
    width: 100%;
    height: 100%;
  }
}

.check-icon {
  color: $kba-main-color;
}

.default-lang {
  padding: 4px 8px;
  border-radius: 16px;
  background-color: $kba-main-color;
  color: #fff;
}
