<!-- 担当DB変更申請 -->
<div class="container-fluid">
  <h2 class="KBA-page-title">{{ labels.title }}</h2>

  <div class="KBA-content">
    <form class="KBA-form">
      <h3 class="block-header">{{ labels.support_db_edit }}</h3>
      <div class="support_db-all-edit-container">
        <div class="support_db-all-edit">
          <label class="support_db-all-edit-label">
            {{ labels.support_db_all_edit }}
          </label>
          <app-kba-selected
            #allEditSelect
            [kbaName]="'change_support_distributor_id'"
            [kbaParams]="{}"
            [kbaResource]="resource.cars"
            [showLabel]="false"
            [hasEmpty]="true"
            (onChangeSelectItem)="onSelectSupportIDAllEdit($event)"
          >
          </app-kba-selected>
        </div>
      </div>

      <app-kba-table
        class="edit-table"
        [customTableThContent]="customTableThContent"
        [customTableRowContent]="customTableRowContent"
        [lists]="lists"
        [params]="params"
        [thList]="thList"
        [labels]="labels"
        [collapsed]="collapsed"
        [sortingParams]="sortingParams"
        [isFetching]="isFetching"
        [sortableThList]="[]"
        [emptyListMessage]="labels.delete_empty_list_message"
        (scroll)="handleScroll()"
      >
        <ng-template #customTableThContent>
          <ng-container *ngFor="let title of thList">
            <th
              *ngIf="title.displayable"
              class="th-{{ title.shortName }} KBA-index-th"
            >
              {{ title.label }}
            </th>
          </ng-container>
        </ng-template>

        <ng-template #customTableRowContent let-data="data" let-idx="idx">
          <ng-container *ngFor="let title of thList" [ngSwitch]="title.name">
            <ng-container *ngIf="title.displayable">
              <td
                *ngSwitchCase="'cars.support_distributor.label'"
                class="td-{{ title.shortName }} KBA-index-td select-{{
                  idx
                }} d-flex align-items-center justify-content-center"
                [ngClass]="{ 'select-invalid': isSupportDBSelectNotEdit(idx) }"
              >
                <app-kba-selected
                  #supportDBSelect
                  [kbaName]="'change_support_distributor_id'"
                  [kbaParams]="editParams.cars[idx]"
                  [kbaResource]="resource.cars"
                  [showLabel]="false"
                  [appendTo]="'body'"
                  (onChangeSelectItem)="refreshEnglishLabel(data, $event)"
                >
                </app-kba-selected>
              </td>
              <td
                *ngSwitchDefault
                class="td-{{
                  title.shortName
                }} KBA-index-td d-flex align-items-center"
              >
                <span>{{ data[title.name] }}</span>
              </td>
            </ng-container>
          </ng-container>
        </ng-template>
      </app-kba-table>

      <footer class="KBA-form-footer-fixed">
        <button class="btn btn-secondary" type="button" (click)="onClickBack()">
          {{ labels.back }}
        </button>
        <button
          class="btn btn-primary"
          type="button"
          (click)="onClickSubmit()"
          [disabled]="!isEditValid"
        >
          {{ labels.submit }}
        </button>
      </footer>
    </form>
  </div>
</div>

<!-- 申請モーダル -->
<ng-template #consignorModalContent>
  <app-kba-simple-list-confirm
    [desc]="applyModalValues.listDesc"
    [val]="applyModalValues.listVal"
  >
  </app-kba-simple-list-confirm>
</ng-template>

<!-- 結果モーダル -->
<ng-template #resultModalContent>
  <app-kba-simple-list-confirm
    [desc]="resultDesc"
    [val]="resultVal"
    [warningColumns]="'all'"
  >
  </app-kba-simple-list-confirm>
  <p class="result-count-message">{{ resultCountMessage }}</p>
</ng-template>
