#app-number-list-request-confirm {
    td {
        vertical-align: top;
    }
    .border {
        display: block;
        width: 100%;
        height: 25px;
        border-top: 1px solid #ddd;
    }
}