<div id="app-number-list-request-confirm">
    <div>
        <app-common-table
            [lists]="lists"
            [thList]="thList"
            [labels]="labels"
            [(sortingParams)]="sortingParams"
            [customTableRowContent]="customTableRowContent">
            <ng-template #customTableRowContent let-data="data" let-title="title">
                <ng-container *ngFor="let title of thList">
                    <ng-container [ngSwitch]="title.name" *ngIf="title.displayable">
                        <!-- 車両 -->
                        <td *ngIf="title.name == 'number_list_request.cars.car_identification.model_type_rev_serial'"
                            class="td-{{
                                title.shortName
                            }} app-index-td d-flex align-items-center"
                            style="width: 20%;"
                        >
                            <span>{{ data[title.name] }}</span>
                        </td>
                        <!-- 要求単位 -->
                        <td *ngIf="title.name == 'number_list_request.car.kind'"
                            class="td-{{
                                title.shortName
                            }} app-index-td d-flex align-items-center"
                            style="width: 20%;"
                        >
                            <span>{{ getKind(data[title.name]) }}</span>
                        </td>
                        <!-- カスタマイズ用途定義 -->
                        <td *ngIf="title.name == 'number_list_request.car.customize_usage_definition'"
                            class="td-{{
                                title.shortName
                            }} app-index-td d-flex align-items-center"
                            style="width: 20%; padding: 0!important;"
                        >
                            <span *ngIf="data[title.name].length > 0">
                                <span *ngFor="let child of data[title.name]; let idx = index"
                                    style="padding: 2px 6px;"
                                    [ngClass]="idx > 0 ? 'border':''">
                                    {{ child.name }} <br />
                                </span>
                            </span>
                        </td>
                        <!-- 開始日 -->
                        <td *ngIf="title.name == 'number_list_request.car.start_date'"
                            class="td-{{
                                title.shortName
                            }} app-index-td d-flex align-items-center"
                            style="width: 20%;"
                        >
                            <span>{{ data[title.name] }}</span>
                        </td>
                        <!-- 終了日 -->
                        <td *ngIf="title.name == 'number_list_request.car.end_date'"
                            class="td-{{
                                title.shortName
                            }} app-index-td d-flex align-items-center"
                            style="width: 20%;"
                        >
                            <span>{{ data[title.name] }}</span>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-template>
        </app-common-table>
    </div>
</div>