<section id="KBA-fuel-car-edit" *ngIf="labels && resource">
  <div class="container-fluid" [hidden]="loading">
    <h2 class="KBA-page-title">{{ labels.title }}</h2>

    <div
      class="KBA-content table-auto-height main-content"
      *ngIf="isPresent && carConditions"
    >
      <div class="KBA-form">
        <div class="table-header">
          <p>
            [ {{ labels.latest_fuel }} :
            {{ latestFuel == null ? labels.none : latestFuel + unit }} ]
          </p>
          <ng-container *ngTemplateOutlet="modelRevDisplay"></ng-container>
        </div>
        <app-kba-table
          [customTableThContent]="customTableThContent"
          [customTableRowContent]="customTableRowContent"
          [lists]="lists"
          [thList]="thList"
          [labels]="labels"
        >
        </app-kba-table>
        <footer class="KBA-form-footer-fixed">
          <a
            href="javascript:void(0)"
            (click)="onClickReset()"
            class="btn btn-link"
          >
            {{ labels.reset }}
          </a>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClickSubmit()"
            [disabled]="!submitButtonEnabled"
          >
            {{ labels.submit }}
          </button>
        </footer>
      </div>
    </div>
  </div>

  <ng-template #customTableThContent>
    <ng-container *ngFor="let name of thList">
      <th [ngClass]="{ fixed: name === 'select' }" class="th-{{ name }}">
        <span>{{
          (resource[name] && resource[name].name) || labels[name]
        }}</span>
      </th>
    </ng-container>
  </ng-template>
  <ng-template #customTableRowContent let-data="data" let-i="idx">
    <ng-container *ngFor="let name of thList">
      <td
        *ngIf="name === 'select'"
        class="kba-sm-link fixed  d-flex align-items-center justify-content-center td-check"
      >
        <input
          id="check-icon-{{ i }}"
          [ngModel]="checkStates[i]"
          (ngModelChange)="onCheck(data, i, $event)"
          type="checkbox"
          class="KBA-input-checkbox"
        />
        <label class="KBA-input-checkbox__label" for="check-icon-{{ i }}">
          <i class="fa"></i>
        </label>
      </td>
      <ng-container [ngSwitch]="name" *ngIf="name !== 'select'">
        <td class="td-{{ name }}" [ngClass]="{ disabled: !checkStates[i] }">
          <div
            class="{{ name }}-container radio-container wrap"
            *ngSwitchCase="'management_kind'"
          >
            <ng-container *ngFor="let v of resource.management_kind.values">
              <input
                name="management_kind-{{ i }}"
                id="management_kind-{{ i }}-{{ v.value }}"
                type="radio"
                class="KBA-input-radio"
                [value]="v.value"
                [(ngModel)]="data.management_kind"
                [disabled]="!checkStates[i]"
              />
              <label
                for="management_kind-{{ i }}-{{ v.value }}"
                class="KBA-input-radio__label"
              >
                {{ v.name }}
              </label>
            </ng-container>
          </div>

          <ng-container *ngSwitchCase="'fuel_label'">
            {{ data['label'] }}
          </ng-container>
          <div
            class="{{ name }}-container"
            *ngSwitchCase="'inspection_start_accumulate_fuel'"
          >
            <div class="fuel-input-group">
              <div class="fuel-input-item">
                <input
                  [formControl]="
                    form.get([i, 'inspection_start_accumulate_fuel'])
                  "
                  name="inspection_start_accumulate_fuel-{{ i }}"
                  [(ngModel)]="data[name]"
                  type="text" autocomplete="off"
                  maxlength="7"
                  class="KBA-input-text form-control"
                />
                <span class="label">{{ unit }}</span>
              </div>
              <div
                class="KBA-valid-errors"
                [hidden]="
                  form.get([i, 'inspection_start_accumulate_fuel']).valid ||
                  form.get([i, 'inspection_start_accumulate_fuel']).pristine
                "
              ></div>
            </div>
          </div>
          <ng-container *ngSwitchCase="'last_inspection_accumulate_fuel'">
            {{ data[name] == null ? labels.none : data[name] + unit }}
          </ng-container>
          <div
            class="{{ name }}-container flex"
            *ngSwitchCase="'accumulate_fuel_interval'"
          >
            <div class="radio-container wrap">
              <ng-container
                *ngFor="let v of resource.accumulate_fuel_interval_kind.values"
              >
                <input
                  name="accumulate_fuel_interval-{{ i }}"
                  id="accumulate_fuel_interval-{{ i }}-{{ v.value }}"
                  type="radio"
                  class="KBA-input-radio"
                  [value]="v.value"
                  [ngModel]="data.accumulate_fuel_interval_kind"
                  (ngModelChange)="onFuelKindChange(data, i, $event)"
                  [disabled]="!checkStates[i]"
                />
                <label
                  for="accumulate_fuel_interval-{{ i }}-{{ v.value }}"
                  class="KBA-input-radio__label"
                >
                  {{ v.name }}
                </label>
              </ng-container>
            </div>
            <div class="fuel-input-group">
              <div class="fuel-input-item">
                <input
                  [formControl]="form.get([i, 'accumulate_fuel_interval'])"
                  name="accumulate_fuel_interval-{{ i }}"
                  [(ngModel)]="data[name]"
                  type="text" autocomplete="off"
                  maxlength="7"
                  class="KBA-input-text form-control"
                />
                <span class="label">{{ unit }}</span>
              </div>
              <div
                class="KBA-valid-errors"
                [hidden]="
                  form.get([i, 'accumulate_fuel_interval']).valid ||
                  form.get([i, 'accumulate_fuel_interval']).pristine
                "
              ></div>
            </div>
          </div>
          <div class="{{ name }}-container flex" *ngSwitchCase="'threshold'">
            <div class="radio-container wrap">
              <ng-container *ngFor="let v of resource.threshold_kind.values">
                <input
                  name="threshold-{{ i }}"
                  id="threshold-{{ i }}-{{ v.value }}"
                  type="radio"
                  class="KBA-input-radio"
                  [value]="v.value"
                  [ngModel]="data.threshold_kind"
                  (ngModelChange)="onThresholdKindChange(data, i, $event)"
                  [disabled]="!checkStates[i]"
                />
                <label
                  for="threshold-{{ i }}-{{ v.value }}"
                  class="KBA-input-radio__label"
                >
                  {{ v.name }}
                </label>
              </ng-container>
            </div>
            <div class="fuel-input-group">
              <div class="fuel-input-item">
                <span class="label">-</span>
                <input
                  [formControl]="form.get([i, 'threshold'])"
                  name="threshold-{{ i }}"
                  [(ngModel)]="data[name]"
                  [pattern]="thresholdPattern"
                  (blur)="handleBlurThreshold(data[name], i)"
                  type="text" autocomplete="off"
                  maxlength="6"
                  class="KBA-input-text form-control"
                />
                <span class="label">{{ unit }}</span>
              </div>
              <div
                class="KBA-valid-errors"
                [hidden]="
                  form.get([i, 'threshold']).valid ||
                  form.get([i, 'threshold']).pristine
                "
              ></div>
            </div>
          </div>
          <ng-container *ngSwitchDefault>
            {{ data[name] || name }}
          </ng-container>
        </td>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #submitResultModalContent>
    <div class="KBA-content table-auto-height">
      <div class="table-header">
        <ng-container *ngTemplateOutlet="modelRevDisplay"></ng-container>
      </div>
      <table class="KBA-table table table-bordered confirm-table">
        <thead class="KBA-table-thead">
          <tr class="KBA-table-flex-cell">
            <ng-container *ngFor="let title of submitResultModalThList">
              <th
                class="th-{{ title }}"
                [ngClass]="{ fixed: ['result'].indexOf(title) > -1 }"
              >
                {{ (resource[title] && resource[title].name) || labels[title] }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="KBA-table-tbody">
          <tr
            *ngFor="let data of confirmModalList"
            class="KBA-table-flex-cell"
            [ngClass]="{ 'has-error': data.result === false }"
          >
            <ng-container
              *ngFor="let title of submitResultModalThList"
              [ngSwitch]="title"
            >
              <td
                *ngSwitchCase="'result'"
                class="td-{{ title }} fixed text-center"
              >
                <i class="kba-icon-check" *ngIf="data[title]"></i>
                <i class="kba-icon-close" *ngIf="!data[title]"></i>
              </td>
              <td *ngSwitchCase="'fuel_label'" class="td-{{ title }}">
                {{ data['label'] }}
              </td>
              <td *ngSwitchCase="'management_kind'" class="td-{{ title }}">
                {{ managementStatusLabels[+data[title]] }}
              </td>
              <td
                *ngSwitchCase="'accumulate_fuel_interval'"
                class="td-{{ title }}"
              >
                <ng-container
                  *ngIf="data.accumulate_fuel_interval_kind === state.on"
                >
                  {{ data[title] }}{{ unit }}
                </ng-container>
                <ng-container
                  *ngIf="data.accumulate_fuel_interval_kind === state.off"
                >
                  {{ resource.accumulate_fuel_interval_kind.values[0].name }}
                </ng-container>
              </td>
              <td *ngSwitchCase="'threshold'" class="td-{{ title }}">
                <ng-container *ngIf="data.threshold_kind === state.on">
                  {{ '-' + data[title] }}{{ unit }}
                </ng-container>
                <ng-container *ngIf="data.threshold_kind === state.off">
                  {{ resource.threshold_kind.values[0].name }}
                </ng-container>
              </td>
              <td *ngSwitchCase="'result_detail'" class="td-{{ title }}">
                <ul>
                  <li *ngFor="let error of data[title]">
                    <p>{{ error }}</p>
                  </li>
                </ul>
              </td>
              <td *ngSwitchDefault class="td-{{ title }}">
                {{ data[title] == null ? labels.none : data[title] + unit }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p class="result-count-message">{{ resultCountMessage }}</p>
    </div>
  </ng-template>

  <ng-template #resetModalContent>
    <p class="KBA-modal-message">{{ labels.reset_modal_body }}</p>
  </ng-template>

  <ng-template #modelRevDisplay>
    <p>
      {{ labels.model }} : {{ carConditions.model }} / {{ labels.type_rev }} :
      {{ carConditions.type_rev }} / {{ labels.serial }} :
      {{ carConditions.serial }}
    </p>
  </ng-template>
</section>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
