@import "../../../../../assets/styles/_variable";

.th-cars_car_management_attribute_time_difference_setting_change_status_name,
.td-cars_car_management_attribute_time_difference_setting_change_status_name {
  width: 130px !important;
  flex-shrink: 0;
}

.td-cars_car_management_attribute_time_difference_setting_change_status_name {
  text-align: center;
}

.result-count-message {
  margin-top: 12px;
}

.date-range {
  display: flex;
  align-items: flex-end;
  width: 100%;

  .separator {
    margin: 0 0 10px 40px;
  }
}

.delete-warning-message {
  position: absolute;
  top: -15px;
  right: 0;
  white-space: nowrap;
  color: $kba-error-color;
  font-size: 14px;
}

.delete-wrapper {
  margin-left: 5px;

  button {
    margin-left: 0;
  }
}

.delete-count {
  margin-left: 5px;

  &.warning {
    color: $kba-error-color;
  }
}

.check-wrapper {
  padding-top: 28px;
}
