@import "../../../../../../assets/styles/flm/_variable.scss";

.pulldown-container {
  position: relative;
  z-index: 100;
}

.btn-pulldown-trigger {
  @extend %jobsite-gradient;

  &:hover {
    .fa {
      color: #333;
    }
  }

  position: relative;
  display: flex;
  height: 30px;
  padding: 0 6px;
  white-space: nowrap;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  .btn-pulldown-content-wrapper {
    display: flex;
    align-items: center;

    .pulldown-label {
      display: block;
      height: 20px;
      padding: 5px 3px 0;
      margin-right: 6px;
      font-size: 12px;
      line-height: 1;
      color: #fff;
      background-color: #999;
      border-radius: 4px;
    }

    .pulldown-selected-item {
      display: block;
      width: 116px;
      box-sizing: border-box;
      overflow: hidden;
      font-size: 17px;
      line-height: 30px;
      color: #333;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .fa {
      margin: 0 4px;
      color: #999;
    }
  }
}

.pulldown-list {
  position: absolute;
  width: auto;
  min-width: 230px;
  overflow: hidden;
  visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &-item:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  .pulldown-selection {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 40px;
    color: #333;
    white-space: nowrap;
    background-color: #fff;

    &.active {
      color: #fff;
      cursor: default;
      background-color: #08f;
    }

    &:not(.active):hover {
      background-color: #f2f2f2;
    }
  }
}
