<section id="KBA-car-operator-init" *ngIf="labels && resource">
  <div
    class="container-fluid"
    *ngIf="!isOpenDetail && !isOpenDeleteAll && !isOpenSettingAll"
  >
    <h2 class="KBA-car-operator-init__title KBA-page-title">
      {{ labels.title }}
    </h2>
    <div class="KBA-content">
      <!-- 検索 -->
      <app-kba-accordion
        [collapsed]="collapsed"
        [useCustomHeader]="false"
        [title]="labels.search_condition"
        [isLoading]="isLoading"
        [labels]="labels"
        (onChangeState)="changePanelState($event)"
      >
        <div data-kba-accordion-body>
          <div class="container KBA-search">
            <ng-container *ngIf="resource && resource.common">
              <div class="row">
                <app-kba-selected
                  *ngIf="exists('common.target_car_group_id')"
                  class="col-sm-3"
                  [kbaName]="'target_car_group_id'"
                  [kbaParams]="params.common"
                  [kbaResource]="resource.common"
                >
                </app-kba-selected>
                <app-kba-selected
                  *ngIf="exists('common.support_distributor.ids')"
                  class="col-sm-3"
                  [kbaName]="'ids'"
                  [kbaParams]="params.common.support_distributor"
                  [kbaResource]="resource.common.support_distributor"
                  (onChangeSelectItem)="onChangeSupportDistributor($event)"
                >
                </app-kba-selected>
                <app-kba-selected
                  *ngIf="exists('common.service_distributor.ids')"
                  class="col-sm-3"
                  [kbaName]="'ids'"
                  [kbaParams]="params.common.service_distributor"
                  [kbaResource]="resource.common.service_distributor"
                >
                </app-kba-selected>
                <app-kba-selected
                  #customerSelector
                  *ngIf="exists('common.customer.ids')"
                  class="col-sm-3"
                  [kbaName]="'ids'"
                  [kbaParams]="params.common.customer"
                  [kbaResource]="resource.common.customer"
                >
                </app-kba-selected>
              </div>
              <div class="row">
                <app-kba-selected
                  *ngIf="exists('common.car_identification.division_codes')"
                  class="col-sm-3"
                  [kbaName]="'division_codes'"
                  [kbaParams]="params.common.car_identification"
                  [kbaResource]="resource.common.car_identification"
                >
                </app-kba-selected>
                <app-kba-selected
                  *ngIf="exists('common.car_identification.maker_codes')"
                  class="col-sm-3"
                  [kbaName]="'maker_codes'"
                  [kbaParams]="params.common.car_identification"
                  [kbaResource]="resource.common.car_identification"
                >
                </app-kba-selected>
              </div>
              <div class="row">
                <app-kba-text
                  *ngIf="exists('common.car_identification.models')"
                  class="col-sm-3"
                  [kbaName]="'models'"
                  [kbaParams]="params.common.car_identification"
                  [kbaResource]="resource.common.car_identification"
                  [maxlength]="20"
                >
                </app-kba-text>
                <app-kba-text
                  *ngIf="exists('common.car_identification.type_revs')"
                  class="col-sm-3"
                  [kbaName]="'type_revs'"
                  [kbaParams]="params.common.car_identification"
                  [kbaResource]="resource.common.car_identification"
                  [maxlength]="15"
                >
                </app-kba-text>
                <app-kba-text
                  *ngIf="exists('common.car_identification.serials')"
                  class="col-sm-3"
                  [kbaName]="'serials'"
                  [kbaParams]="params.common.car_identification"
                  [kbaResource]="resource.common.car_identification"
                >
                </app-kba-text>
              </div>
              <div class="row">
                <app-kba-text
                  *ngIf="
                    exists('common.customer_attribute.customer_management_no')
                  "
                  class="col-sm-3"
                  [kbaName]="'customer_management_no'"
                  [kbaParams]="params.common.customer_attribute"
                  [kbaResource]="resource.common.customer_attribute"
                  [maxlength]="26"
                >
                </app-kba-text>
                <app-kba-selected
                  *ngIf="exists('car_management.operator_identification_kinds')"
                  class="col-sm-3"
                  [kbaName]="'operator_identification_kinds'"
                  [kbaParams]="params.car_management"
                  [kbaResource]="resource.car_management"
                >
                </app-kba-selected>
              </div>
            </ng-container>
          </div>
          <div class="KBA-panel-footer">
            <a
              href="javascript:void(0)"
              (click)="onClickReset()"
              class="btn btn-link"
            >
              {{ labels.reset }}
            </a>
            <button
              (click)="onClickSearch()"
              type="button"
              class="btn btn-primary search"
            >
              {{ labels.search }}
            </button>
          </div>
        </div>
      </app-kba-accordion>

      <!-- ページネーション -->
      <div class="KBA-table-options" [hidden]="count <= 0">
        <app-kba-pagination
          [count]="count"
          [params]="pageParams"
          [labels]="labels"
          [element]="pageCountEl"
          (changeState)="onPaginationChange()"
        >
        </app-kba-pagination>
        <div class="table-option-buttons">
          <div class="popover-wrapper">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onClickFieldSelect($event)"
            >
              {{ labels.field_select }}
            </button>
            <app-kba-popover
              [labels]="labels"
              [resource]="fieldResources"
              [fields]="fields"
              [title]="labels.field_select_title"
              [(isVisible)]="fieldSelectPopoverVisible"
              (ok)="onFieldSelectOk($event)"
            >
            </app-kba-popover>
          </div>
          <button
            type="button"
            class="btn btn-secondary init-btn"
            (click)="onClickInit()"
            [disabled]="!(selectedList | isNotEmpty) || !enableInit"
          >
            {{ labels.init }}
          </button>
        </div>
      </div>

      <!-- 一覧 -->
      <app-kba-table
        [customTableRowContent]="customTableRowContent"
        [labels]="labels"
        [collapsed]="collapsed"
        [lists]="lists"
        [pageParams]="pageParams"
        [fixedThList]="fixedThList"
        [scrollableThList]="scrollableThList"
        [(sortingParams)]="sortingParams"
        [sortableThList]="sortableThList"
        [selectable]="selectable"
        [updatable]="updatable"
        [deletable]="deletable"
        [isFetching]="isFetching"
        [checkIdName]="checkIdName"
        [checkedItems]="checkedItems"
        [multiLineColumns]="lineBreakColumns"
        (edit)="onClickEdit($event)"
        (delete)="onClickDelete($event)"
        (sort)="onChangeSort($event)"
      >
        <ng-template #customTableRowContent let-data="data">
          <ng-container *ngFor="let title of scrollableThList">
            <td
              *ngIf="title.displayable"
              class="td-{{ title.shortName }} KBA-index-td"
              [ngClass]="{ 'line-break': isLineBreak(title.name) }"
            >
              <span>{{ data[title.dataKey || title.name] }}</span>
            </td>
          </ng-container>
        </ng-template>
      </app-kba-table>
    </div>
  </div>
</section>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>

<!-- リセット -->
<ng-template #resetModalContent>
  <p class="KBA-modal-message">{{ labels.reset_modal_body }}</p>
</ng-template>

<!-- 初期化 -->
<ng-template #initModalContent>
  <app-kba-simple-list-confirm
    [desc]="initModalValues.listDesc"
    [val]="initModalValues.listVal"
  >
  </app-kba-simple-list-confirm>
</ng-template>

<!-- 結果 -->
<ng-template #resultModalContent>
  <app-kba-simple-list-confirm
    [desc]="resultDesc"
    [val]="resultVal"
    [warningColumns]="'all'"
  >
  </app-kba-simple-list-confirm>
  <p class="result-count-message">{{ resultCountMessage }}</p>
</ng-template>
