@import "../../../../../assets/styles/variable";

.row {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.label-customer {
  display: block;
}

.customer-select-type {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-left: 25px;
  }

  input {
    margin-right: 6px;
  }
}

.has-error {
  color: #ed2222;
  background-color: $kba-danger-color;
}

.upload-summary {
  margin-top: 5px;

  span {
    display: inline-block;
    margin-right: 5px;
  }
}

.td-condition {
  display: flex !important;
  justify-content: center;
  align-items: center;

  .fa-check {
    color: #5cc41f;
  }
}

.kba-icon {
  margin-right: 2px;
  font-size: 20px;
}

.td-unlink {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.KBA-modal-body {
  .fixed {
    width: 60px;
  }

  .th-detail,
  .td-detail {
    width: 200%;
  }
}

.upload_select {
  padding: 0;
  margin-top: -5px;
}
