ngb-tabset {
  width: 100%;
}

.nav-link {
  border: 0;
}

.row {
  margin-bottom: 10px;
  margin-left: 0;
}

app-kba-select-type {
  width: 100%;
  padding: 0 15px;
}

.model-carType-check {
  width: 100%;
  padding: 0 15px;
}
