<common-date-picker
  commonFlyout
  [id]="id"
  [attr.aria-controls]="id"
  [labels]="datePickerLabels"
  [disabledNextMonthButton]="isDisabledNextMonthButton()"
  [disabledPrevMonthButton]="idDisabledPrevMonthButton()"
  [disabledTodayButton]="disableTodayButton || todayDisabled"
  [weekLabels]="datePickerWeekLabels"
  [days]="days"
  [isVisibleClearButton]="isVisibleClearButton"
  [title]="title"
  [years]="years"
  [monthLabels]="monthLabels"
  (hasOpened)="onOpened()"
  (clickDay)="onClickDay($event)"
  (clickPrev)="onClickPrev()"
  (clickNext)="onClickNext()"
  (clickClose)="onClickClose()"
  (clickToday)="onClickToday()"
  (clickClear)="onClickClear()"
  (changeYear)="onChangeYear($event)"
  (changeMonth)="onChangeMonth($event)"
></common-date-picker>
