.th-check,
.td-check {
    width: 50px;
    min-width: 50px;
}

.app-input-checkbox__label {
    margin-right: 3px;
    margin-left: -3px;
}

.app-table .app-table-tbody .hidden-columns {
    display: inline-block !important;
    width: 0 !important;
    padding: 6px 0 7px;
    overflow: hidden;
    white-space: pre !important;
    border: 0 !important;

    .hidden-columns-container {
        display: flex;
    }
}

.before-init {
    visibility: hidden;
}
