.KBA-form-table-tbody {
  .KBA-form-table__head {
    &.wide {
      width: 30%;
    }
    .KBA-form-table__label {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  .KBA-form-table__value {
    p {
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}
