:host {
    align-self: center;
    &.is-opened {
        display: block;
    }
    &.is-closed {
        display: none;
    }
}

.time-picker-flyout {
    position: relative;
}
.time-picker-flyout-body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-picker-flyout-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    background-color: rgba(0, 0, 0, 0.32);
}

.time-picker-flyout-timer {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    padding: 5px 10px 0;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    color: #333;
    &-body {
    }
    &-foot {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    &-setting {
        flex: 0 0 33%;
        appearance: none;
        width: 33%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: #b1dcfb;
        }
        &[disabled] {
            &,
            &:hover {
                background-color: #f5f5f5;
                border-color: #f5f5f5;
                color: #dddddd;
                cursor: default;
            }
        }
    }
    &-close {
        flex: 0 0 33%;
        appearance: none;
        width: 33%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: #b1dcfb;
        }
        &[disabled] {
            &,
            &:hover {
                background-color: #f5f5f5;
                border-color: #f5f5f5;
                color: #dddddd;
                cursor: default;
            }
        }
    }
}

.time-picker {
    display: flex;
    align-items: center;
}

.time-picker-hour, .time-picker-minute, .time-picker-second, .time-picker-millisecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &[disabled] {
        &,
        &:hover {
            background-color: #f5f5f5;
            border-color: #f5f5f5;
            color: #dddddd;
            cursor: default;
        }
    }
}

.time-picker-input-container {
    width: 4em;
}

.time-picker-input-error {
    background: #f8e4e4;
    border-color: #f87272;
}

.time-picker-chevron.bottom:before {
    top: -0.3em;
    transform: rotate(135deg);
}

.time-picker-chevron:before {
    border-style: solid;
    border-width: 0.29em 0.29em 0 0;
    content: "";
    display: inline-block;
    height: 0.69em;
    left: 0.05em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 0.69em;
}

.time-picker-spacer {
    margin: 0px 5px 0px 5px;
}

input[type="text"]  {
    text-align: center;
}
