@import "../../../../../assets/styles/flm/variable";

.KBA-pills {
  > .nav-item {
    width: auto;
    min-width: 110px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid $kba-nav-link-color;
    border-radius: 3px;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .nav-link {
      border-radius: 0;
      border: 0;
      color: $kba-nav-link-color;
      &:not(.active) {
        &:hover {
          background-color: $kba-sub-color;
        }
      }
      &.active {
        background-color: $kba-nav-link-color;
        color: #fff;
      }
    }
  }
}
.kba-icon-check {
  color: $kba-nav-link-color;
}
