<div id="KBA-customer-batch" *ngIf="labels && resource">
  <div class="container-fluid" [hidden]="loading">
    <h2 class="KBA-page-title">{{ labels.title }}</h2>

    <div class="flex-container">
      <div class="KBA-file-upload_component">
        <app-kba-file-upload
          [apiId]="uploadPath"
          [layout]="'batch'"
          [labels]="labels"
          [json]="uploadJSON"
          (uploadStart)="_showLoadingSpinner()"
          (uploadEnd)="onUploadEnd($event)"
          (uploadFail)="onUploadFail($event)"
        ></app-kba-file-upload>
      </div>

      <div class="KBA-file-upload_component download">
        <div class="KBA-panel panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ labels.download_title }}
            </h4>
          </div>
          <div class="panel-body">
            <div class="container">
              <div
                class="row"
                *ngIf="resource && resource.support_distributor_id"
              >
                <app-kba-select-type
                  class="col-sm-12"
                  #supportDistributorSelect
                  name="support_distibutor_id"
                  [labels]="labels"
                  [targets]="resource.support_distributor_id"
                >
                </app-kba-select-type>
              </div>
              <div class="row">
                <div class="col">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    (click)="onClickDownload()"
                  >
                    <i class="kba-icon kba-icon-download"></i>
                    {{ labels.download_excel }}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div
                    class="download-description"
                    *ngFor="let i of [1, 2, 3, 4, 5]"
                  >
                    <div class="box-index">
                      <span class="index">{{ i }}</span>
                    </div>
                    <div class="box-text">
                      <p class="text">
                        {{ labels['download_description_' + i] }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="download-notice">{{ labels.download_notice }}</p>
      </div>
    </div>
  </div>

  <ng-template #uploadResultModalContent>
    <app-kba-simple-list-confirm
      [desc]="thList"
      [val]="listVal"
      [warningColumns]="'all'"
    >
    </app-kba-simple-list-confirm>
    <p class="result-count-message">{{ resultCountMessage }}</p>
  </ng-template>
</div>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
