#app-cs-expected-traffic-confirm {
    #warning-msg {
        font-style: bold;
        color: red;
        font-size: 30px;
        margin-top: -20px;
    }
    #vehicle-info{
        font-style: bold;
        font-size: 20px;
        margin-top: 20px;
    }
}