<div id="app-cs-expected-traffic-confirm" *ngIf="labels">
    <div class="app-content">
        <div *ngIf="visibleErr" class="row">
            <p id="warning-msg">{{labels.customize_traffic_caution_message}}</p>
        </div>
        <div class="row">
            <p id="vehicle-info">{{labels.vehicleInfo}}</p>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p class="table-label">{{labels.regular_call_customize_data}}</p>
            <app-common-table
                style="width: 850px;"
                [lists]="lists1"
                [thList]="thList1"
                [pageParams]="pageParams"
                appSortingLabel
                [sortableThList]="sortableThList1"
                [(sortingParams)]="sortingParams"
                [labels]="labels"
                [isFetching]="isFetching"
                [collapsed]="collapsed"
                [mergeColumns]="mergeColumns1"
                [emptyListMessage]="'Empty'"
                >
            </app-common-table>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p class="table-label">{{labels.other_customize_data}}</p>
            <app-common-table
                style="width: 650px;"
                [lists]="lists2"
                [thList]="thList2"
                [pageParams]="pageParams"
                appSortingLabel
                [sortableThList]="sortableThList2"
                [(sortingParams)]="sortingParams"
                [labels]="labels"
                [collapsed]="collapsed"
                [isFetching]="isFetching"
                [mergeColumns]="mergeColumns2"
                [emptyListMessage]="'Empty'"
                >
            </app-common-table>
        </div>

    </div>
</div>