#app-cs-expected-traffic-confirm {
    #warning-msg {
        font-weight: bold;
        color: red;
        font-size: 20px;
        margin: -20px 0px 20px 0px;
    }
    #vehicle-info{
        font-size: 20px;
        font-weight: bold;
    }
    .table-label{
        width: 100%;
        font-weight: bold;
        text-decoration: underline;
    }
}