@import "../../../../../../assets/styles/flm/variable";

.detail-header {
  position: relative;
  width: 100vw;
  min-width: 1024px;
}

.header-title {
  padding-left: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 44px;
  color: #333;
}

.util-bar {
  @extend %jobsite-gradient;

  position: fixed;
  top: 44px;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);

  .fa {
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 22px;
    font-weight: bold;
  }
}

.btn-back {
  @extend %jobsite-gradient;

  height: 44px;
  box-sizing: border-box;
  padding: 10px 18px 10px 35px;
  font-weight: 300;
  line-height: 24px;
  background-color: transparent;
  border-right: 1px solid #ccc;
}

.tabs-container {
  position: relative;
  height: 54px;
  margin-top: 88px;
  background-color: #ccc;

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    content: "";
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  }
}

.tabs {
  display: flex;
  padding-top: 14px;
  margin-left: 25px;

  .tab {
    position: relative;
    width: auto;
    min-width: 150px;
    height: 40px;
    padding: 0 10px;
    margin-right: 4px;
    font-size: 17px;
    line-height: 40px;
    color: #999;
    text-align: center;
    background-color: #ddd;
    border-radius: 4px 4px 0 0;
    opacity: 0.6;

    .tab-link {
      display: block;
      color: inherit;
    }

    &.active,
    &:hover {
      background-color: #fff;
    }

    &.active {
      z-index: 1;
      color: #294cae;
      opacity: 1;

      .tab-link {
        cursor: default;
      }
    }
  }
}
