<td class="KBA-form-table__head" *ngIf="isVisible">
  <label
    class="KBA-form-table__label belong-name-label"
    [ngClass]="{ 'KBA-form-table__required': required }"
  >
    {{ kbaResource[kbaName] && kbaResource[kbaName].name }}
  </label>
  <span class="belonging-name"
    *ngIf="showGroupKindName"
    [style.color]="userService.getGroupKindTextColor(belongingNameColor)"
    [style.backgroundColor]="belongingNameColor"
  >
    {{ belongingName }}
  </span>
</td>
<td [attr.colspan]="colspan" *ngIf="isVisible">
  <p [hidden]="!notEditable">{{ viewData() }}</p>
  <div [hidden]="notEditable" class="form-group KBA-input__small">
    <ng-select
      *ngIf="items.length > 0"
      class="belonging-select"
      [ngClass]="hasSearchResult ? '' : 'no-items'"
      [items]="items"
      [(ngModel)]="kbaParams[kbaName]"
      [bindLabel]="'name'"
      [bindValue]="'id'"
      [clearable]="false"
      [virtualScroll]="items.length > 100"
      [notFoundText]=""
      [dropdownPosition]="'bottom'"
      (open)="handleOpen()"
      (search)="handleSearch($event)"
      (change)="onSelectItem($event)"
      (close)="hasSearchResult = true"
    >
      <ng-template ng-label-tmp ng-option-tmp let-item="item">
        <span class="color-icon-item">
          <i class="fa fa-circle"
            [style.color]="item.belongingAttribute ? item.belongingAttribute.color : ''"></i>
          {{ item.name }}
        </span>
      </ng-template>
    </ng-select>
  </div>
</td>
