/* ==========================================================================
   KBA-spinner
   ========================================================================== */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.KBA-spinner {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.KBA-spinner__icon {
  &::before {
    font-size: 30px;
    color: #ccc;
    animation: fade-in-out 2s infinite linear;
  }
}
