<form
  name="modelTypeForm"
  *ngIf="labels && resource && resource.division_code && divisionList"
>
  <div class="form-group">
    <div
      class="radio-inline"
      *ngFor="let opt of resource.model_select_type.values; let i = index"
    >
      <input
        id="model-select-type-{{ i }}"
        class="KBA-input-radio"
        type="radio"
        [(ngModel)]="params.modelSelectType"
        (change)="onModelSelectTypeChange()"
        name="modelSelectType"
        [value]="opt.value"
      />
      <label class="KBA-input-radio__label" for="model-select-type-{{ i }}">
        {{ opt.name }}
      </label>
    </div>
  </div>
  <ng-container *ngIf="params.modelSelectType === modelSelectType.select">
    <div class="form-group row">
      <label class="KBA-modal-form__label col-sm-3">{{
        resource.division_code.name
      }}</label>
      <div class="col-sm-9 KBA-input__small">
        <app-kba-selected
          [kbaName]="'division_code'"
          [kbaParams]="params"
          [kbaResource]="resource"
          [showLabel]="false"
          [emitInitialRefresh]="false"
          (onChangeSelectItem)="onDivisionChange($event)"
        ></app-kba-selected>
      </div>
    </div>
    <div class="form-group row">
      <label class="KBA-modal-form__label col-sm-3">{{
        labels.model_type_list
      }}</label>
      <div class="col-sm-9">
        <input
          id="model-type-all"
          class="KBA-input-checkbox checkbox-with-label"
          type="checkbox"
          [checked]="isSelectedAll(params.division_code)"
          (change)="toggleSelectAll($event, params.division_code)"
        />
        <label class="KBA-input-checkbox__label" for="model-type-all">
          {{ labels.select_all }}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <table class="KBA-form-table KBA-table-modal table table-bordered">
        <thead class="KBA-table-thead-modal">
          <tr>
            <th class="KBA-index-th">{{ labels.model }}</th>
            <th class="KBA-index-th th-type_rev">{{ labels.type_rev }}</th>
            <th class="KBA-index-th th-ref"></th>
          </tr>
        </thead>
        <tbody class="KBA-form-table-tbody">
          <tr *ngFor="let division of divisionList[params.division_code]">
            <td class="KBA-form-table__value model-cell">
              <p>{{ division.model }}</p>
            </td>
            <td class="KBA-form-table__value KBA-table_rev-cell">
              <button
                type="button"
                class="btn KBA-button-rev"
                [ngClass]="getClassForDivision(d)"
                (click)="toggleDivisionSelection(d)"
                *ngFor="let d of division.divisions"
              >
                {{ d.type_rev }}
              </button>
            </td>
            <td class="text-center btn-cell">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="executeShowRefModal(division)"
              >
                {{ labels.refer }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</form>
