<td class="app-form-table__head" *ngIf="isVisible">
    <label
        class="app-form-table__label"
        [ngClass]="{ 'app-form-table__required': required }"
    >
        {{ itemResource[itemName] && itemResource[itemName].name }}
    </label>
</td>
<td
    [ngClass]="{ continuous: continuous }"
    [attr.colspan]="colspan"
    *ngIf="isVisible"
>
    <div class="content">
        <p [hidden]="!notEditable">{{ viewData }}</p>
        <div
            [formGroup]="formGroup"
            *ngIf="!notEditable"
            class="form-group calendar"
            [ngClass]="sizeClass"
        >
            <input
                type="hidden"
                name="{{ name }}"
                formControlName="{{ name }}"
                (ngModelChange)="handleChange($event)"
            >
            <input
                commonFlyoutTrigger
                [attr-aria-controls]="id"
                [(ngModel)]="itemParams[display]"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="isDisabled"
                [type]="'text'"
                class="app-input-date-picker form-control"
                [ngClass]="{ 'app-form-error': hasError(path) }"
                readonly
            />
            <button
                type="button"
                class="app-datepicker"
                commonFlyoutTrigger
                [attr-aria-controls]="id"
                [disabled]="isDisabled"
            >
                <i class="app-icon app-icon-calendar"></i>
            </button>

            <app-date-picker
                [id]="id"
                [labels]="itemLabel"
                [dateFormat]="dateFormat"
                [timeZone]="timeZone"
                [enableDateRange]="enableDateRange"
                [initialBaseDay]="itemParams[itemName]"
                [beginningWday]="beginningWday"
                [futureDateSelectable]="futureDateSelectable"
                [isVisibleClearButton]="!required"
                (selectDate)="onSelectDate($event)"
            >
            </app-date-picker>
        </div>

        <ng-container *ngTemplateOutlet="customContent"></ng-container>
    </div>
</td>
