<section *ngIf="labels && resource">
  <div class="container-fluid" [hidden]="loading">
    <h2 class="KBA-page-title">{{ labels && labels.title }}</h2>
    <div class="KBA-content">
      <form class="KBA-form" name="subgroupForm" [formGroup]="subgroupForm">
        <div class="KBA-form-header">
          <ng-container>
            <div class="annotation">
              <p class="KBA-form-table__required">
                {{ labels.description_for_required }}
              </p>
            </div>
          </ng-container>
        </div>
        <table class="KBA-form-table table table-bordered" *ngIf="!loading">
          <tbody class="KBA-form-table-tbody">
            <!-- サブグループ名称 -->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'label'"
              [kbaResource]="resource.sub_group.identification"
              [kbaParams]="params.sub_group.identification"
              [colspan]="3"
              [required]="true"
              [maxLength]="255"
              [path]="'sub_group.identification.label'"
              [errorData]="errorData"
            ></tr>

            <!-- サブグループ名称（英語）-->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'label_english'"
              [kbaResource]="resource.sub_group.identification"
              [kbaParams]="params.sub_group.identification"
              [colspan]="3"
              [required]="false"
              [maxLength]="255"
              [path]="'sub_group.identification.label_english'"
              [errorData]="errorData"
            ></tr>

            <!-- 組織コード -->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'organization_code'"
              [kbaResource]="resource.sub_group.identification"
              [kbaParams]="params.sub_group.identification"
              [colspan]="3"
              [required]="false"
              [maxLength]="32"
              [path]="'sub_group.identification.organization_code'"
              [errorData]="errorData"
            ></tr>

            <!-- 所属国 -->
            <tr
              app-kba-form-table-select
              #nationCode
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'nation_code'"
              [kbaParams]="params.sub_group.attribute"
              [kbaResource]="resource.sub_group.attribute"
              [colspan]="3"
              [required]="true"
            ></tr>

            <!-- 時差 -->
            <tr
              app-kba-form-table-custom
              class="KBA-form-row"
              [kbaResource]="resource.sub_group.attribute"
              [kbaName]="'time_difference'"
              [required]="true"
              [content]="timeDifferenceContent"
            ></tr>

            <!-- 電話番号 -->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'phone_no'"
              [kbaResource]="resource.sub_group.attribute"
              [kbaParams]="params.sub_group.attribute"
              [colspan]="3"
              [required]="false"
              [maxLength]="30"
              [path]="'sub_group.attribute.phone_no'"
              [errorData]="errorData"
            ></tr>

            <!-- メールアドレス -->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'email'"
              [kbaResource]="resource.sub_group.attribute"
              [kbaParams]="params.sub_group.attribute"
              [colspan]="3"
              [required]="false"
              [maxLength]="255"
              [path]="'sub_group.attribute.email'"
              [errorData]="errorData"
            ></tr>

            <!-- 所在地 -->
            <tr
              app-kba-form-table-text
              class="KBA-form-row"
              [formGroup]="subgroupForm"
              [kbaName]="'address'"
              [kbaResource]="resource.sub_group.attribute"
              [kbaParams]="params.sub_group.attribute"
              [colspan]="3"
              [required]="false"
              [maxLength]="255"
              [path]="'sub_group.attribute.address'"
              [errorData]="errorData"
            ></tr>

            <!-- 権限（管理者） -->
            <ng-container
              *ngIf="exists('sub_group.administrator_role.authorities.id')"
            >
              <tr class="KBA-form-row">
                <td class="KBA-form-table__head">
                  <label class="KBA-form-table__label">
                    {{
                      resource.sub_group.administrator_role.authorities.id.name
                    }}
                  </label>
                </td>
                <td class="authorities-container">
                  <ng-container
                    *ngTemplateOutlet="
                      authorities;
                      context: {
                        path: 'sub_group.administrator_role.authorities'
                      }
                    "
                  ></ng-container>
                </td>
              </tr>
            </ng-container>

            <!-- 権限（一般） -->
            <ng-container
              *ngIf="exists('sub_group.general_role.authorities.id')"
            >
              <tr class="KBA-form-row">
                <td class="KBA-form-table__head">
                  <label class="KBA-form-table__label">
                    {{ resource.sub_group.general_role.authorities.id.name }}
                  </label>
                </td>
                <td class="authorities-container">
                  <ng-container
                    *ngTemplateOutlet="
                      authorities;
                      context: { path: 'sub_group.general_role.authorities' }
                    "
                  ></ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <footer class="KBA-form-footer-fixed">
          <a
            href="javascript:void(0)"
            class="btn btn-link"
            (click)="onClickReset()"
          >
            {{ labels.reset }}
          </a>
          <button
            class="btn btn-success"
            type="button"
            *ngIf="!isUpdate"
            (click)="onClickContinue()"
            [disabled]="isInvalidSubgroupForm()"
          >
            {{ labels && labels.continue }}
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClickSubmit()"
            [disabled]="isInvalidSubgroupForm()"
          >
            {{ labels && labels.submit }}
          </button>
        </footer>
      </form>
    </div>
  </div>

  <!-- 時差用テンプレート -->
  <ng-template #timeDifferenceContent>
    <div class="time-difference KBA-input__small">
      <div class="time-difference_block">
        <app-kba-selected
          class="time-difference_select"
          [kbaName]="'time_difference'"
          [kbaParams]="timeDifference"
          [kbaResource]="resource.sub_group.attribute"
          [showLabel]="false"
          (onChangeSelectItem)="onTimeDiffrenceChange()"
        ></app-kba-selected>
        <span>{{ labels.hour }}</span>
      </div>
      <div class="time-difference_block">
        <app-kba-selected
          class="time-difference_select"
          [kbaName]="'time_difference_minute'"
          [kbaParams]="timeDifference"
          [kbaResource]="resource.sub_group.attribute"
          [showLabel]="false"
          (onChangeSelectItem)="onTimeDiffrenceChange()"
        ></app-kba-selected>
        <span>{{ labels.minute }}</span>
      </div>
    </div>
  </ng-template>

  <!-- 権限用テンプレート -->
  <ng-template #authorities let-path="path" let-kind="kind">
    <app-kba-authority-select
      #authoritySelect
      [authorities]="
        (resource | at: buildPath(kind ? getResourcePath(kind) : path, 'id'))
          .values
      "
      [labels]="authorityLabels"
      [selectedAuthorities]="getSelectedAuthorities(path)"
      [customSelectButtons]="authorityCustomHeader"
      [customSelectedAuthorities]="authorityCustomContent"
      [allowUnselectedAuthorities]="true"
      (select)="onSelectAuthorities($event, path)"
    ></app-kba-authority-select>

    <ng-template #authorityCustomHeader>
      <div class="row-subgroup-select-buttons authorities-select">
        <button
          type="button"
          class="btn btn-primary"
          (click)="authoritySelect.onClickSelect()"
        >
          {{ labels.select }}
        </button>
      </div>
    </ng-template>

    <ng-template #authorityCustomContent>
      <table
        class="table KBA-form-table authorities-table"
        *ngIf="params | at: path"
      >
        <tr class="KBA-form-row" *ngIf="(params | at: path).length > 0">
          <td class="authorities-header-cell">{{ labels.authority_name }}</td>
          <td class="authorities-header-cell">{{ labels.default_setting }}</td>
        </tr>
        <ng-container
          *ngFor="
            let authority of (
              resource
              | at: buildPath(kind ? getResourcePath(kind) : path, 'id')
            ).values
          "
        >
          <tr
            class="KBA-form-row"
            *ngIf="getAuthorityModel(path, authority.value)"
          >
            <td>{{ authority.name }}</td>
            <td>
              <div class="authorities-radio-group">
                <div
                  class="authorities-radio"
                  *ngFor="
                    let radio of (
                      resource
                      | at
                        : buildPath(
                            kind ? getResourcePath(kind) : path,
                            'default_kind'
                          )
                    ).values | orderBy: 'value':'desc'
                  "
                >
                  <input
                    [(ngModel)]="
                      getAuthorityModel(path, authority.value).default_kind
                    "
                    name="{{ buildPath(path, authority.value) }}"
                    id="{{ buildPath(path, authority.value, radio.value) }}"
                    type="radio"
                    class="KBA-input-radio"
                    [value]="radio.value"
                  />
                  <label
                    for="{{ buildPath(path, authority.value, radio.value) }}"
                    class="KBA-input-radio__label"
                  >
                    {{ radio.name }}
                  </label>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-template>
  </ng-template>

  <!-- 登録確認モーダル -->
  <ng-template #submitModalContent>
    <app-kba-tandem-confirm
      [desc]="descItem"
      [val]="valItem"
      [customContent]="customSubmitConfirmContent"
    >
    </app-kba-tandem-confirm>
  </ng-template>
  <ng-template #customSubmitConfirmContent let-d="d" let-value="value">
    <ng-container *ngIf="!isAuthority(d.name); else roleContent">
      <p>{{ value }}</p>
    </ng-container>
    <ng-template #roleContent>
      <div class="KBA-form-inner-table-container">
        <table class="table KBA-form-table detail-modal-table">
          <tr *ngFor="let row of value">
            <td *ngFor="let v of row">
              <p>{{ v }}</p>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </ng-template>

  <!-- リセット確認モーダル -->
  <ng-template #resetModalContent>
    <p class="KBA-modal-message">{{ labels.reset_modal_body }}</p>
  </ng-template>
</section>

<app-kba-sidemenu [isLoading]="isLoading"></app-kba-sidemenu>
