@import "../../../../../assets/styles/variable";

.confirm-message {
  > p {
    color: $fontRed;
  }
}

.KBA-model-cell {
  white-space: nowrap !important;
}

.KBA-rev-cell {
  padding: 10px !important;

  .KBA-rev-cell_value {
    display: inline-block;
    min-width: 54px;
    margin: 2px 4px;
    text-align: center;
  }
}

.KBA-model-table {
  width: calc(100% + 30px);
  margin: -15px;

  tr {
    &:first-of-type {
      td {
        border-top: solid 0;
      }
    }

    &:last-of-type {
      td {
        border-bottom: solid 0;
      }
    }

    td {
      &:first-child {
        border-left: solid 0;
      }

      &:last-child {
        border-right: solid 0;
      }
    }
  }
}
