@font-face {
  font-family: "kba-icon";
  src: url("../../static/fonts/kba-icon.eot");
  src: url("../../static/fonts/kba-icon.eot?#iefix") format("eot"),
    url("../../static/fonts/kba-icon.woff") format("woff"),
    url("../../static/fonts/kba-icon.ttf") format("truetype"),
    url("../../static/fonts/kba-icon.svg#kba-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="kba-icon-"],
[class*=" kba-icon-"] {
  font-family: "kba-icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-bottom;
}

.kba-icon-arrow_1:before {
  content: "\E001";
}
.kba-icon-arrow_2:before {
  content: "\E002";
}
.kba-icon-calendar:before {
  content: "\E003";
}
.kba-icon-check:before {
  content: "\E004";
}
.kba-icon-close:before {
  content: "\E005";
}
.kba-icon-detail:before {
  content: "\E006";
}
.kba-icon-download:before {
  content: "\E007";
}
.kba-icon-dustbox:before {
  content: "\E008";
}
.kba-icon-edit:before {
  content: "\E009";
}
.kba-icon-humberger:before {
  content: "\E00A";
}
.kba-icon-map:before {
  content: "\E00B";
}
.kba-icon-search:before {
  content: "\E00C";
}
.kba-icon-success:before {
  content: "\E00D";
}
.kba-icon-upload:before {
  content: "\E00E";
}

@font-face {
  font-family: "kba-contact-icon";
  src: url("../../static/fonts/kba-contact-icon.eot?315zl7");
  src: url("../../static/fonts/kba-contact-icon.eot?315zl7#iefix")
      format("embedded-opentype"),
    url("../../static/fonts/kba-contact-icon.ttf?315zl7") format("truetype"),
    url("../../static/fonts/kba-contact-icon.woff?315zl7") format("woff"),
    url("../../static/fonts/kba-contact-icon.svg?315zl7#kba-contact-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="kba-contact-icon_"],
[class*=" kba-contact-icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "kba-contact-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kba-contact-icon_1:before {
  content: "\e9000";
}
.kba-contact-icon_2:before {
  content: "\e951";
}
.kba-contact-icon_3:before {
  content: "\e952";
}
.kba-contact-icon_4:before {
  content: "\e953";
}
.kba-contact-icon_5:before {
  content: "\e954";
}
.kba-contact-icon_6:before {
  content: "\e950";
}

@font-face {
  font-family: "kba-extra-icon";
  src: url("../../static/fonts/kba-extra-icon.eot?39mry1");
  src: url("../../static/fonts/kba-extra-icon.eot?39mry1#iefix")
      format("embedded-opentype"),
    url("../../static/fonts/kba-extra-icon.ttf?39mry1") format("truetype"),
    url("../../static/fonts/kba-extra-icon.woff?39mry1") format("woff"),
    url("../../static/fonts/kba-extra-icon.svg?39mry1#kba-extra-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="kba-extra-icon-"],
[class*=" kba-extra-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "kba-extra-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kba-extra-icon-minus:before {
  content: "\e970";
}
.kba-extra-icon-plus:before {
  content: "\e971";
}
.kba-extra-icon-release:before {
  content: "\e972";
}
.kba-extra-icon-user:before {
  content: "\e973";
}
.kba-extra-icon-history:before {
  content: "\e974";
}
.kba-extra-icon-th-large:before {
  content: "\f009";
}
.kba-extra-icon-th-list:before {
  content: "\f00b";
}

@font-face {
  font-family: "kba-car-icon";
  src: url("../../static/fonts/kba-car-icon.eot?pa0npo");
  src: url("../../static/fonts/kba-car-icon.eot?pa0npo#iefix")
      format("embedded-opentype"),
    url("../../static/fonts/kba-car-icon.ttf?pa0npo") format("truetype"),
    url("../../static/fonts/kba-car-icon.woff?pa0npo") format("woff"),
    url("../../static/fonts/kba-car-icon.svg?pa0npo#kba-car-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="kba-car-icon-"],
[class*=" kba-car-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "kba-car-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kba-car-icon-65:before {
  content: "\41";
}
.kba-car-icon-66:before {
  content: "\42";
}
.kba-car-icon-67:before {
  content: "\43";
}
.kba-car-icon-68:before {
  content: "\44";
}
.kba-car-icon-69:before {
  content: "\45";
}
.kba-car-icon-70:before {
  content: "\46";
}
.kba-car-icon-71:before {
  content: "\47";
}
.kba-car-icon-72:before {
  content: "\48";
}
.kba-car-icon-73:before {
  content: "\49";
}
.kba-car-icon-74:before {
  content: "\4a";
}
.kba-car-icon-75:before {
  content: "\4b";
}
.kba-car-icon-76:before {
  content: "\4c";
}
.kba-car-icon-77:before {
  content: "\4d";
}
.kba-car-icon-78:before {
  content: "\4e";
}
.kba-car-icon-79:before {
  content: "\4f";
}
.kba-car-icon-80:before {
  content: "\50";
}
.kba-car-icon-81:before {
  content: "\51";
}
.kba-car-icon-82:before {
  content: "\52";
}
.kba-car-icon-83:before {
  content: "\53";
}
.kba-car-icon-85:before {
  content: "\55";
}
.kba-car-icon-86:before {
  content: "\56";
}
.kba-car-icon-87:before {
  content: "\57";
}
.kba-car-icon-88:before {
  content: "\58";
}
.kba-car-icon-89:before {
  content: "\59";
}
.kba-car-icon-90:before {
  content: "\5a";
}
.kba-car-icon-97:before {
  content: "\61";
}
.kba-car-icon-98:before {
  content: "\62";
}
.kba-car-icon-99:before {
  content: "\63";
}
.kba-car-icon-100:before {
  content: "\64";
}
