// アプリ毎に切り替えるカラーコード変数のみ記載
// ※アプリ毎に切り替えないものについてはassets/styles/_variable.scssに記載する
$kba-main-color: #2a4dae;
$kba-sub-color: #eff2f6;
$kba-header-color: #0e1271;
$kba-primary-btn-color: #0275d8;
$kba-primary-btn-color--hover: #025aa5;
$kba-active-btn-color: #d5e5f3;
$kba-active-btn-color--hover: #b6d5f0;
$kba-active-btn-font-color: #2c72db;
$kba-nav-link-color: #2a51ab;
$kba-selected-color: #cdefff;

%jobsite-gradient {
  background-image: linear-gradient(#fff, #e4e4e4);

  &:not(.disable-hover):not(:disabled):hover {
    background-image: linear-gradient(#f2f2f2, #b9b9b9);
  }
}
