#app-traffic-confirm {
    .border {
        display: block;
        width: 100%;
        height: 25px;
        border-top: 1px solid #ddd;
    }
    .link {
        color: #0275d8;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: #014c8c;
        }
    }
}