.not-use-customer-id-container {
  margin: 30px 0 0;
}

.section-header {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: normal;
}

.reservation-container {
  position: relative;
  margin: 30px 0 0;
}

.btn-clear-form {
  position: absolute;
  top: -10px;
  right: 0;
  line-height: 16px;

  .kba-icon {
    font-size: 16px;
  }
}

.date-range {
  display: flex;
  align-items: center;
  width: 100%;

  .separator {
    margin: 0 10px 0 40px;
  }

  .date-content {
    padding-left: 0;
  }
}

.viewable_end_date_start {
  padding: 0;
}

.table-reservation-info {
  margin-top: 15px;
}
