// アプリ毎に切り替えるカラーコード変数のみ記載
// ※アプリ毎に切り替えないものについてはassets/styles/_variable.scssに記載する
$kba-main-color: #00856f;
$kba-sub-color: #f3f7f6;
$kba-header-color: #006454;
$kba-primary-btn-color: #009993;
$kba-primary-btn-color--hover: #00856f;
$kba-active-btn-color: #f3f7f6;
$kba-active-btn-color--hover: #c5d8d4;
$kba-active-btn-font-color: #00856f;
$kba-nav-link-color: #00856f;
$kba-selected-color: #dff8ef;
$kba-add-font-color: #339974;
