<div class="container-fluid">
  <h2 class="KBA-page-title">{{ labels.info_cars_title }}</h2>
  <div class="KBA-content">
    <!-- 顧客情報 -->
    <table class="KBA-form-table table table-bordered KBA-form-detail-table">
      <tbody class="KBA-form-table-tbody">
        <tr *ngIf="resource.common.customer && resource.common.customer.ids">
          <td class="KBA-form-table__head">
            <label class="KBA-form-table__label">{{
              resource.common.customer.ids.name
            }}</label>
          </td>
          <td>
            {{ customerLabel }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 選択車両情報 -->
    <p>{{ labels.select_cars }}</p>
    <table class="KBA-table-modal table table-bordered">
      <thead class="KBA-table-thead-modal">
        <tr>
          <ng-container *ngFor="let carHeader of carHeaders">
            <th *ngIf="carHeader.displayable">
              {{ carHeader.label }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody class="KBA-form-table-tbody" *ngIf="car">
        <tr>
          <ng-container *ngFor="let carHeader of carHeaders">
            <ng-container
              *ngIf="carHeader.displayable"
              [ngSwitch]="carHeader.name"
            >
              <!-- オペ識別設定の場合 -->
              <td
                *ngSwitchCase="'cars.car_operator.operator_identification_kind'"
                class="text-center"
              >
                <span
                  *ngIf="
                    isOperatorIdSettingKindOn(
                      car['cars.car_operator.operator_identification_kind']
                    )
                  "
                  class="on"
                >
                  {{ labels.id_key_on }}
                </span>
                <span
                  *ngIf="
                    !isOperatorIdSettingKindOn(
                      car['cars.car_operator.operator_identification_kind']
                    )
                  "
                  class="off"
                >
                  {{ labels.id_key_off }}
                </span>
              </td>

              <!-- ID保持時間の場合 -->
              <td *ngSwitchCase="'cars.car_operator.id_hold_time'">
                <p>{{ displayIdHoldTime(car[carHeader.name]) }}</p>
              </td>

              <!-- 上記以外の td の場合 -->
              <td *ngSwitchDefault>
                <p>{{ car[carHeader.name] }}</p>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 登録オペID情報 -->
  <div class="KBA-content">
    <p *ngIf="lists.originList.length > 0">{{ labels.regist_ope_ids }}</p>
    <div class="KBA-table-options" *ngIf="lists.originList.length > 0">
      <app-kba-pagination
        [count]="count"
        [params]="pageParams"
        [labels]="labels"
        [element]="pageCountEl"
        (changeState)="onPaginationChange()"
      >
      </app-kba-pagination>
    </div>
    <form class="KBA-form">
      <app-kba-table
        [customTableRowContent]="customTableRowContent"
        [customTableThContent]="customTableThContent"
        [lists]="lists"
        [pageParams]="pageParams"
        [params]="params"
        [thList]="thList"
        [labels]="labels"
        [collapsed]="false"
        [isFetching]="isFetching"
        [emptyListMessage]="labels.delete_empty_list_message"
      >
        <ng-template #customTableThContent>
          <ng-container *ngFor="let th of thList">
            <th
              *ngIf="th.displayable"
              class="KBA-index-th th-{{ th.shortName }}"
              appKbaSortingLabel
              [(sortingParams)]="sortingParams"
              [labelName]="th.name"
              [sortableThList]="sortableThList"
              (sort)="onChangeSort($event)"
            >
              <span>{{ th.label }}</span>
            </th>
          </ng-container>
        </ng-template>
        <ng-template #customTableRowContent let-data="data">
          <ng-container *ngFor="let ope of thList">
            <td
              *ngIf="ope.displayable"
              class="KBA-index-td d-flex align-items-center"
            >
              <span>{{ flattenObj(data)[ope.dataKey] }}</span>
            </td>
          </ng-container>
        </ng-template>
      </app-kba-table>
      <footer class="KBA-form-footer-fixed">
        <button type="button" class="btn btn-secondary" (click)="onClickPrev()">
          {{ labels.prev }}
        </button>
      </footer>
    </form>
  </div>
</div>
