@import "../../../../../assets/styles/_variable";

#KBA-detail-index {
  padding-bottom: 54px;

  .KBA-content {
    margin-bottom: 53px;
  }
}

.result-count-message {
  margin-top: 12px;
}

.delete-warning-message {
  position: absolute;
  top: -15px;
  right: 0;
  white-space: nowrap;
  color: $kba-error-color;
  font-size: 14px;
}

.delete-wrapper {
  margin-left: 5px;

  button {
    margin-left: 0;
  }
}

.delete-count {
  margin-left: 5px;

  &.warning {
    color: $kba-error-color;
  }
}
