#app-request-period-comfirm {
    td {
        // width: 122px;
        vertical-align: top;
    }
    .border {
        display: block;
        width: 100%;
        height: 25px;
        border-top: 1px solid #ddd;
    }
}