.app-menu-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 10px 0 10px;

  > ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 235px;
  }
}

.app-menu-list {
  display: block;
  width: 235px;
  margin: 0 10px 15px 10px;
  font-size: 0;

  h4 {
    margin: 0;
    padding: 10px 10px;
    background: $app-main-color;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }

  .app-menu-list__item {
    background: #fff;
    border-bottom: 1px solid $app-lightgray-color;

    > a {
      position: relative;
      display: block;
      padding: 15px;
      font-size: 14px;
      color: $app-main-color;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
        border-right: 2px solid $app-lightgray-color;
        border-top: 2px solid $app-lightgray-color;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
      }
    }

    &:hover {
      background-color: #f6fafd;
    }

    &.app-menu-list_active {
      background: #d3e5f4;

      > a::after {
        border-right: 2px solid $app-main-color;
        border-top: 2px solid $app-main-color;
      }
    }

    &.app-menu-list__div {
      display: inline-block;
      min-width: 50%;

      & + .app-menu-list__div {
        border-left: 1px solid $app-lightgray-color;
      }
    }
  }
}
