#app-sidemenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 5px solid $app-header-color;
  z-index: 90;

  > a {
    display: block;
    position: absolute;
    top: 54px;
    right: 0;
    background: $app-header-color;
    border-radius: 5px;
    padding: 10px;

    .app-icon {
      font-size: 24px;
      color: #fff;
    }
  }

  [data-role="sidemenu"] {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 260px;
    height: 100%;
    padding: 60px 10px 10px;
    background: $app-gray-color;

    .app-admin-menuList {
      width: 100%;
      margin-right: 0;
    }

    .app-panel {
      border: none;
      border-radius: 4px 4px 0 0;
      margin: 0;

      .panel-heading {
        padding: 0;

        .accordion-toggle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 10px 15px;
        }
      }
    }
  }
}

.app-sidemenu-backdrop {
  position: fixed;
  background-color: transparent;
  z-index: 89;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}