.app-input__small {
  width: 40%;
}

.app-input__middle {
  width: 70%;
}

.app-input-text,
.app-input-date-picker {
  border: 1px solid $app-darkgray-color;
}

.app-textarea {
  height: 100px;
  margin-bottom: -5px;
  border: 1px solid $app-darkgray-color;
}

.app-select {
  .ui-select-toggle {
    border-color: $app-darkgray-color;
  }
}

.app-select {
  position: relative;
  display: inline-block;
  width: 100%;

  > select {
    position: relative;
    width: 100%;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: transparent;
    border: 1px solid $app-darkgray-color;
    border-right: 34px solid $app-darkgray-color;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: -5px;
    pointer-events: none;
    content: "";
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    visibility: hidden;
  }
}

.app-select-search {
  position: relative;
  margin-bottom: 10px;

  .app-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    font-size: 20px;
  }
}

.app-input-radio {
  display: none;

  &:checked + .app-input-radio__label::after {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    content: "";
    background: #333;
    border-radius: 50%;
  }

  &:disabled + .app-input-radio__label::after {
    background: #ccc;
  }
}

.app-input-radio__label {
  position: relative;
  padding-left: 25px;
  margin: 0;
  font-weight: normal;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    content: "";
    background: #fff;
    border: 1px solid $app-darkgray-color;
    border-radius: 50%;
  }
}

.app-input-checkbox {
  display: none;

  &:checked + .app-input-checkbox__label {
    ::after {
      position: absolute;
      top: 50%;
      left: 38%;
      margin-top: -7px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: app-icon;
      font-size: 16px;
      line-height: 1;
      color: $app-main-color;
      speak: none;
      vertical-align: text-bottom;
      content: "\E004";
    }
  }

  &:disabled + .app-input-checkbox__label {
    cursor: not-allowed;

    ::after {
      color: #ccc;
    }
  }

  &.checkbox-with-label {
    ::after {
      display: none;
    }

    &:checked + .app-input-checkbox__label::after {
      position: absolute;
      top: 50%;
      left: 2px;
      margin-top: -7px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: app-icon;
      font-size: 16px;
      line-height: 1;
      color: $app-main-color;
      vertical-align: text-bottom;
      content: "\E004";
    }

    &:disabled + .app-input-checkbox__label {
      cursor: not-allowed;

      &::after {
        color: #ccc;
      }
    }
  }
}

.app-input-checkbox__label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: normal;
  text-align: center;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  ::before {
    position: absolute;
    top: 50%;
    left: 38%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -2px;
    content: "";
    background-color: #fff;
    border: 1px solid $app-darkgray-color;
    border-radius: 3px;
  }

  .checkbox-with-label + & {
    display: inline-block;
    width: inherit;
    height: inherit;
    padding-left: 25px;
    text-align: inherit;

    ::before {
      display: none;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      margin: -10px 0 0;
      content: "";
      border: 1px solid $app-darkgray-color;
      border-radius: 3px;
    }
  }
}

.app-input-text,
.app-textarea {
  &.not-found,
  &.ng-invalid:not(.ng-pristine) {
    background: $app-danger-color !important;
    border-color: #f87272 !important;
  }
}

.app-datepicker {
  position: absolute;
  top: 1.5px;
  right: -37px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: $app-main-color;
  border: none 0;
  border-radius: 15px;

  &:enabled {
    &:hover {
      background-color: darken($app-main-color, 15%);
    }
  }

  &:disabled {
    cursor: default;
    background: #9b9b9b;
  }

  .app-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    font-size: 18px;
    color: #fff;
  }
}

.app-multiple-select {
  .form-group {
    margin-bottom: 10px;
  }
}

.app-input-file {
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}

.app-input-date-picker {
  &:read-only {
    background-color: #fff;

    &:hover {
      cursor: pointer;
      background-color: #e6e6e6;
    }
  }

  &:disabled {
    background-color: $app-disable-color;

    &:hover {
      cursor: default;
      background-color: $app-disable-color;
    }
  }
}

.app-input-unit {
  display: inline-block;

  input {
    width: 200px;
  }
}

.app-form-activatable {
  display: inline-block;
  margin-right: 10px;
}

.dropdown-menu {
  display: block;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}

.app-multiselect {
  .ng-placeholder {
    top: 7px !important;
    display: block !important;
    color: $fontColor !important;
  }

  .ng-value {
    display: none !important;
  }

  &.ng-select-opened .ng-placeholder {
    display: none !important;
  }

  .multiselect-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i {
      flex-shrink: 0;
    }
  }
}

.no-items {
  .ng-select-container {
    border-color: #b3b3b3 !important;
    border-radius: 4px !important;
  }

  .ng-dropdown-panel {
    display: none;
  }
}

.ng-arrow-wrapper {
  flex: 0 auto !important;
}

.app-select .ng-dropdown-panel,
.form-group .ng-dropdown-panel {
  width: auto;
  min-width: 100%;
  max-width: 100vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng-select span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// bodyにドロップダウンをappendした場合、項目が見つかりませんでしたの非表示ができないため暫定対処
.ng-dropdown-panel[ng-reflect-items=""] {
  display: none;
}

input::-ms-clear {
  display: none;
}

body > .ng-dropdown-panel {
  z-index: 4000 !important;
}
