.map-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}

.map-list-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.map-content {
  margin: 0 10px 30px 0;

  a:hover {
    text-decoration: underline;
  }

  .name {
    margin: 7px 0 0;
    font-size: 15px;
    color: #08f;
  }
}

.description {
  margin: 2px 0 0;
  font-size: 15px;
  color: #999;
}

.map-wrapper {
  position: relative;
  width: 487px;
  height: 280px;

  .map-overlay {
    position: relative;
    z-index: 51;
    width: 100%;
    height: 100%;
  }
}
